{% extends 'base/base.html' %}
{% block head_css_site %}
{{ block.super }}
<link id="pagestyle" href="{{ STATIC_URL }}assets/css/upload-file.css" rel="stylesheet" />
{% endblock %}
{% block content %}
<main class="main-content position-relative max-height-vh-100 h-100">
    {% include "base/navbar.html" %}
    <div class="container-fluid py-4 px-md-5">
        <form enctype="multipart/form-data" id="add-chemicalSubstance" method="post" action="{{ confirmUrl }}">
        {% comment %} <form enctype="multipart/form-data" id="add-chemicalSubstance" onsubmit="return validateForm()"> {% endcomment %}
            {% csrf_token %}
            <input type="hidden" value="{{ chemicalSubstance.id }}" name="chemicalSubstanceID" />
            <div class="row mt-4">
                <div class="col-md-12 col-lg-6 my-2">
                    <div class="card card-body rounded-0">
                        <div class="container">
                            <span class="fw-bold fs-5 text-primary">ส่วนสำคัญที่ต้องกรอก</span>
                            <hr class="hr-2">

                            <div class="input-group input-group-outline is-filled">
                                <label class="form-label">ชื่อสารเคมี</label>
                                <input type="text" class="form-control" id="id_name" name="name" value="{{ chemicalSubstance.name }}" required>
                            </div>
                            <div class="row mt-4">
                                <div class="col-6">
                                    <div class="input-group input-group-outline{% if chemicalSubstance.serialNumber %} is-filled{% endif %}">
                                        <label class="form-label">รหัส</label>
                                        <input type="text" class="form-control" id="id_serialNumber" name="serialNumber" value="{{ chemicalSubstance.serialNumber }}" required>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="input-group input-group-outline{% if chemicalSubstance.casNo %} is-filled{% endif %}">
                                        <label class="form-label">CAS no.2</label>
                                        <input type="text" class="form-control" id="id_casNo" name="casNo" value="{{ chemicalSubstance.casNo }}" required>
                                    </div>
                                </div>
                            </div>
                            <hr class="hr-3">
                            <div class="input-group input-group-outline{% if chemicalSubstance.place %} is-filled{% endif %}">
                                <label class="form-label">ที่จัดเก็บ</label>
                                <input type="text" class="form-control" id="id_place" name="place" value="{{ chemicalSubstance.place }}" required>
                            </div>
                            <hr class="hr-3">
                            <div class="row">
                                <div class="col-4">
                                    <div class="input-group input-group-outline{% if chemicalSubstance.initialQuantity %} is-filled{% endif %}">
                                        <label class="form-label">ปริมาณเริ่มต้น</label>
                                        <input type="number" class="form-control" id="id_initialQuantity" name="initialQuantity" value="{{ chemicalSubstance.initialQuantity }}" required>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="input-group input-group-outline{% if chemicalSubstance.remainingQuantity %} is-filled{% endif %}">
                                        <label class="form-label">ปริมาณคงเหลือ</label>
                                        <input type="number" class="form-control" id="id_remainingQuantity" name="remainingQuantity" value="{{ chemicalSubstance.remainingQuantity }}" required>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="input-group input-group-outline{% if chemicalSubstance.unit %} is-filled{% endif %}">
                                        <label class="form-label">หน่วย</label>
                                        <input type="text" class="form-control" id="id_unit" name="unit" value="{{ chemicalSubstance.unit }}" required>
                                    </div>
                                </div>
                            </div>
                            <hr class="hr-3">

                            <div class="upload-files-container">
                                <input type="file" id="upload" class="default-file-input" name="upload" accept="image/*"/>
                                <div class="drag-file-area">
                                    <label for="upload">
                                        <i class="material-icons opacity-10 fs-1">file_upload</i>
                                        <span class="browse-files">
                                            <span class="browse-files-text">เลือกไฟล์รูปสารเคมี</span>
                                        </span> 
                                    </label>
                                </div>
                                <span class="cannot-upload-message"> <span class="material-icons-outlined">error</span> Please select a file first <span class="material-icons-outlined cancel-alert-button">cancel</span> </span>
                                <div class="file-block">
                                    <div class="file-info">
                                        <span class="file-name"> </span> | <span class="file-size"></span>
                                    </div>
                                    <span class="material-icons remove-file-icon">delete</span>
                                    <div class="progress-bar"> </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 my-2">
                    <div class="card card-body rounded-0">
                        <div class="container">
                            <span class="fw-bold fs-5">ข้อมูลเพิ่มเติม</span>
                            <hr class="hr-2 border-dark">

                            <div class="input-group input-group-outline{% if chemicalSubstance.catalogNo %} is-filled{% endif %}">
                                <label class="form-label">Catalog no./ product no.</label>
                                <input type="text" class="form-control" id="id_catalogNo" name="catalogNo" value="{{ chemicalSubstance.catalogNo }}">
                            </div>
                            <div class="row mt-4">
                                <div class="col-6">
                                    <div class="input-group input-group-outline{% if chemicalSubstance.manufacturer %} is-filled{% endif %}">
                                        <label class="form-label">ผู้ผลิต</label>
                                        <input type="text" class="form-control" id="id_manufacturer" name="manufacturer" value="{{ chemicalSubstance.manufacturer }}">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="input-group input-group-outline{% if chemicalSubstance.distributor %} is-filled{% endif %}">
                                        <label class="form-label">ผู้จัดจำหน่าย</label>
                                        <input type="text" class="form-control" id="id_distributor" name="distributor" value="{{ chemicalSubstance.distributor }}">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-6">
                                    <div class="input-group input-group-outline{% if chemicalSubstance.grade %} is-filled{% endif %}">
                                        <label class="form-label">เกรด/ความเข้มข้น</label>
                                        <input type="text" class="form-control" id="id_grade" name="grade" value="{{ chemicalSubstance.grade }}">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="input-group input-group-outline{% if chemicalSubstance.price %} is-filled{% endif %}">
                                        <label class="form-label">ราคา</label>
                                        <input type="number" class="form-control" id="id_price" name="price" value="{{ chemicalSubstance.price }}">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-4">
                                    <div class="input-group input-group-outline{% if chemicalSubstance.buyInDate %} is-filled{% endif %}">
                                        <label class="form-label">รับเข้า</label>
                                        <input type="text" class="form-control" id="id_buyInDate" name="buyInDate" value="{{ chemicalSubstance.buyInDate }}">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="input-group input-group-outline{% if chemicalSubstance.activateDate %} is-filled{% endif %}">
                                        <label class="form-label">เปิดใช้</label>
                                        <input type="text" class="form-control" id="id_activateDate" name="activateDate" value="{{ chemicalSubstance.activateDate }}">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="input-group input-group-outline{% if chemicalSubstance.expirationDate %} is-filled{% endif %}">
                                        <label class="form-label">หมดอายุ</label>
                                        <input type="text" class="form-control" id="id_expirationDate" name="expirationDate" value="{{ chemicalSubstance.expirationDate }}">
                                    </div>
                                </div>
                            </div>
                            <div class="my-3">
                                <span class="me-0">ประเภทความอันตรายจากสารเคมี</span>
                            </div>
                            <div class="container">
                                <div class="radio">
                                    {% if chemicalSubstance.hazardCategory == "ghs" %}
                                    <input id="id_GHS" name="hazardCategory" type="radio" value="ghs" checked>
                                    {% else %}
                                    <input id="id_GHS" name="hazardCategory" type="radio" value="ghs">
                                    {% endif %}
                                    <label  for="radio" class="radio-label">GHS</label>
                                    {% if chemicalSubstance.hazardCategory == "ghs" %}
                                    <ul class="flex-container" id="ghsList">
                                    {% else %}
                                    <ul class="d-none" id="ghsList">
                                    {% endif %}
                                        {% for result in ghsList %}
                                        <li class="flex-item">
                                            {% if result.serialNumber in chemicalSubstance.ghs %}
                                            <input id="{{ result.serialNumber }}" name="ghs" type="checkbox" value={{ result.serialNumber }} class="d-flex" checked>
                                            {% else %}
                                            <input id="{{ result.serialNumber }}" name="ghs" type="checkbox" value={{ result.serialNumber }} class="d-flex">
                                            {% endif %}
                                            <label for={{ result.serialNumber }}><img src="{{ STATIC_URL }}images/hazard/{{ result.serialNumber }}.png"  onerror="this.onerror=null; this.src='{{ STATIC_URL }}images/scientificInstrument/PlaceHolder.png' ;" class="image-scientificInstruments border-radius-xl" /></label>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            
                                <div class="radio">
                                    {% if chemicalSubstance.hazardCategory == "unClass" %}
                                    <input id="id_unClass" name="hazardCategory" type="radio" value="unClass" checked>
                                    {% else %}
                                    <input id="id_unClass" name="hazardCategory" type="radio" value="unClass">
                                    {% endif %}
                                    <label  for="id_unClass" class="radio-label">UN Class/ UN no.</label>
                                </div>
                                {% if chemicalSubstance.hazardCategory == "unClass" %}
                                <ul class="flex-container" id="unList">
                                {% else %}
                                <ul class="d-none" id="unList">
                                {% endif %}
                                    {% for result in unList %}
                                    <li class="flex-item">
                                        {% if result.serialNumber in chemicalSubstance.unClass %}
                                        <input id="{{ result.serialNumber }}" name="unClass" type="checkbox" value={{ result.serialNumber }} class="d-flex" checked>
                                        {% else %}
                                        <input id="{{ result.serialNumber }}" name="unClass" type="checkbox" value={{ result.serialNumber }} class="d-flex">
                                        {% endif %}
                                        <label for={{ result.serialNumber }}><img src="{{ STATIC_URL }}images/hazard/{{ result.serialNumber }}.png"  onerror="this.onerror=null; this.src='{{ STATIC_URL }}images/scientificInstrument/PlaceHolder.png' ;" class="image-scientificInstruments border-radius-xl" /></label>
                                    </li>
                                    {% endfor %}
                                </ul>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-lg-6 col-12 text-lg-end">
                    <button class="btn border border-info bg-gradient-info my-2 w-100 w-lg-50" type="submit" id="confirmBtn">ยืนยัน</button>
                    {% comment %} <a class="btn border border-info bg-gradient-info my-2 w-100 w-lg-50" data-bs-toggle="modal" href="#loadingModal" role="button">ยืนยัน</a> {% endcomment %}
                </div>
                <div class="col-lg-6 col-12 text-lg-start">
                    <a class="" href="{% url 'chemicalSubstanceListPage' %}">
                        <span class="btn border bg-white border-danger text-danger border-1 my-2 w-100 w-lg-50">ยกเลิก</span>
                    </a>
                </div>
            </div>
        </form>

    </div>
</main>

<div class="modal fade" id="loadingModal" aria-hidden="true" aria-labelledby="loadingModalLabel" tabindex="-1" data-bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-6">
            <div class="modal-body">
                <div class="spinner">
                    <svg viewBox="25 25 50 50">
                        <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
                        <span class="text-black d-block mt-2">กำลังบันทึกข้อมูล ...</span>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
{{ block.super }}
<script src="{{ STATIC_URL }}assets/js/upload-file.js"></script>
<script src="{{ STATIC_URL }}assets/js/add-chemicalSubstance.js"></script>
{% endblock %}