{% extends 'base/base.html' %}
{% block content %}
{% load humanReadable %}
{% include 'base/navside.html' %}
<main class="main-content position-relative max-height-vh-100 h-100">
    {% include "base/navbar.html" %}
    <div class="container-fluid py-4 ">
        <div class="row">
            <div class="card card-body mx-3 px-4 pt-4">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                            <div class="card">
                                <div class="card-header p-0 m-3 text-start">
                                    <div class="icon icon-lg icon-shape bg-gradient-info shadow-none text-center border-radius-xl position-absolute">
                                        <i class="material-icons opacity-10">person</i>
                                    </div>
                                    <p class="text-md mb-0 w-100 text-black text-end vertical-text pe-0">จำนวนผู้เบิกใช้สารเคมี</p>
                                    <div class="text-end pt-1">
                                        <p class="mb-0 text-black text-bold">{{ accounts }} คน</p>
                                    </div>
                                </div>
                                <div class="card-footer d-flex p-3">
                                    <a href={% url "userListPage" %} class="text-sm text-info text-start text-decoration-underline w-50">ข้อมูลเพิ่มเติม</a>
                                    <a href="" onclick="downloadUserData(event)" class="text-sm text-info text-end text-decoration-underline w-50">ดาวน์โหลดข้อมูล</a>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                            <div class="card">
                                <div class="card-header p-0 m-3 text-start">
                                    <div class="icon icon-lg icon-shape bg-gradient-warning shadow-none text-center border-radius-xl position-absolute">
                                        <i class="material-icons opacity-10">description</i>
                                    </div>
                                    <p class="text-md mb-0 w-100 text-black text-end vertical-text pe-0">จำนวนการเบิกใช้งาน</p>
                                    <div class="text-end pt-1">
                                        <p class="mb-0 text-black text-bold">{{ orders.count }} รายการ</p>
                                    </div>
                                </div>
                                <div class="card-footer d-flex p-3">
                                    <a href={% url "withdrawHistoryPage" %} class="text-sm text-info text-start text-decoration-underline w-50">ข้อมูลเพิ่มเติม</a>
                                    <a href="" onclick="downloadOrderData(event)" class="text-sm text-info text-end text-decoration-underline w-50">ดาวน์โหลดข้อมูล</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <hr class="hr-3">
                        </div>
                    </div>
                </div>
                <div class="card-body p-0 my-3">
                    <span class="text-black text-bold me-3">สถิติการเบิกใช้สารเคมี</span>
                    <a href="" onclick="downloadDataUses(event)" class="text-sm text-info text-end text-decoration-underline w-50 ms-3">ดาวน์โหลดข้อมูล</a>
                </div>
                {% include 'pages/chemicalSubstance/analytic/table.html' %}
            </div>
        </div>
    </div>
</main>
{% include "modals/error.html" %}
{% include "modals/loading.html" %}
{% include "modals/success.html" %}
{% endblock %}

{% block js %}
{{ block.super }}
<script>
    const urlExportDataUser = "{% url 'ExportUserChemicalSubstances' %}"
    const urlExportOrder    = "{% url 'ExportOrderChemicalSubstances' %}"
    const urlExportDataUses = "{% url 'ExportUsesChemicalSubstances' %}"
</script>
<script src="{{ STATIC_URL }}js/exportChemicalSubstances.js"></script>
{% endblock js %}