{% extends 'base/base.html' %}
{% load humanReadable %}
{% block content %}
{% include 'base/navside.html' %}
<main class="main-content position-relative max-height-vh-100 h-100">
    {% include "base/navbar.html" %}
    <div class="container-fluid py-4 ">
        <div class="row">
            <div class="card card-body mx-3 px-4 pt-4">
                <div class="d-flex align-items-center mx-3">
                    <img src="{{ STATIC_URL }}/images/history_alert.png" class="image-alert" />
                    <span class="text-black fs-4">ประวัติการ{{ actionCategory }}{{ nameCategory }}</span>
                </div>
                <div class="table-responsive p-0 m-4">
                {% if orders %}
                    {% comment %} <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-center text-uppercase text-black text-s font-weight-bolder">วันที่ยืม</th>
                                <th class="text-center text-uppercase text-black text-s font-weight-bolder">ชื่อ</th>
                                <th class="text-center text-uppercase text-black text-s font-weight-bolder">วันที่อนุมัติ</th>
                                <th class="text-center text-uppercase text-black text-s font-weight-bolder">ผู้อนุมัติ</th>
                                <th class="text-center text-uppercase text-black text-s font-weight-bolder">สถานะ</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for order in orders %}
                        <tr>
                            <td class="align-middle text-center">
                                {% if order.dateWithdraw %}
                                    <span class="text-secondary text-s">{% load tz %}{{ order.dateWithdraw|timezone:'Asia/Bangkok'|date:"d/m/Y" }}</span>
                                {% else %}
                                    <span class="text-secondary text-s">-</span>
                                {% endif %}
                            </td>
                            <td class="align-middle text-center">
                                <span class="text-secondary text-s">
                                    {% if order.user.firstname %} {{ order.user.firstname }} {% endif %} {% if order.user.lastname %} {{ order.user.lastname }} {% endif %}
                                </span>
                            </td>
                            <td class="align-middle text-center">
                                {% if order.dateApproved %}
                                    <span class="text-secondary text-s">{% load tz %}{{ order.dateApproved|timezone:'Asia/Bangkok'|date:"d/m/Y" }}</span>
                                {% else %}
                                    <span class="text-secondary text-s">-</span>
                                {% endif %}
                            </td>
                            <td class="align-middle text-center">
                                <span class="text-secondary text-s">
                                    {% if order.approver.firstname %} {{ order.approver.firstname }} {% endif %} {% if order.approver.lastname %} {{ order.approver.lastname }} {% endif %}
                                </span>
                            </td>
                            <td class="align-middle text-center text-sm">
                                <form class="align-items-center text-center form-control" id="confirm-equipment" method="post" action="detail">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ order.id }}" name="orderID" />
                                    {% with statusMap|hash:order.status as button %}
                                        <button class="badge badge-sm bg-gradient-{{ button.style }} bagde-status-table" type="submit">{{ button.text }}</button>
                                    {% endwith %}
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table> {% endcomment %}

                    {% include "pages/equipments/tableData.html" %}
                {% else %}
                    {% include "error/notFoundData.html" %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}