{% extends 'base/base.html' %}
{% load humanReadable %}
{% block content %}
{% include 'base/navside.html' %}
<main class="main-content position-relative max-height-vh-100 h-100">
  {% include "base/navbar.html" %}
  <div class="container-fluid py-4 ">
    <div class="row">
      {% if results %}
      <div class="card card-body mx-3 px-4 pt-4">
        {% include "pages/topListPage.html" %}
        <div class="row">
          <div class="table-responsive p-0">
            <hr class="hr-3">
            <table class="table align-items-center justify-content-center mb-0">
              <thead>
                <tr class="bg-gray-200">
                  <th class="text-uppercase font-weight-bolder text-center text-dark">รหัส</th>
                  <th class="text-uppercase font-weight-bolder text-center text-dark">ชื่อ</th>
                  <th class="text-uppercase font-weight-bolder text-center text-dark">CAS no.</th>
                  <th class="text-uppercase font-weight-bolder text-center text-dark">ตู้จัดเก็บ</th>
                  <th class="text-uppercase font-weight-bolder text-center text-dark">ปริมาณคงเหลือ</th>
                  <th class="text-uppercase font-weight-bolder text-center text-dark">สถานะ</th>
                  <th></th>
                </tr>
              </thead>
              {% for result in results %}
              <tbody>
                <tr>
                  <td class="text-center">
                    <span class="text-sm text-dark mb-0">{{ result.serialNumber }}</span>
                  </td>
                  <td class="text-center">
                    <span class="text-sm text-dark mb-0">{{ result.name }}</span>
                  </td>
                  <td class="text-center">
                    <span class="text-sm text-dark mb-0">{{ result.casNo }}</span>
                  </td>
                  <td class="text-center">
                    <span class="text-sm text-dark mb-0">{{ result.place }}</span>
                  </td>
                  <td class="text-center">
                    <span class="text-sm text-dark mb-0">{{ result.remainingQuantity }}</span>
                  </td>
                  <td class="row text-center">
                    {% if user.account.status == "admin" %}
                    <div class="col-12 col-md-12 col-xl-6 col-lg-6 text-end">
                      <form action="edit" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ result.pk }}" />
                        <button class="btn bg-gradient-warning">
                          <i class="material-icons opacity-10">edit_note</i>
                          แก้ไขข้อมูล
                        </button>
                      </form>
                    </div>
                    <div class="col-12 col-md-12 col-xl-6 col-lg-6 text-start">
                        <button class="btn border bg-white border-danger text-danger mx-2" 
                        data-bs-toggle="modal" data-bs-target="#modalDelete" onclick="showConfirmDelete({{ result.id }})">
                          <i class="material-icons opacity-10">delete</i>
                          ลบข้อมูล
                        </button>
                    </div>
                    {% else %}
                    {% comment %} {% if result.remainingQuantity == 0 %}
                    <label class="form-label">จำนวนที่ยืม : </label>
                    <input type="number" class="text-center mb-3 border-radius-md" id="remainingQuantity" name="remainingQuantity" min="0" value="0" max="{{ result.remainingQuantity }}"></br>
                    <button class="btn bg-gradient-secondary" type="submit">เพิ่มลงตะกร้า</button>
                    {% else %}
                    <form id="add-result" method="post" action="{% url 'addItemForBorrowingApi' %}">
                      {% csrf_token %}
                      <label class="form-label">จำนวนที่ยืม : </label>
                      <input type="number" class="text-center mb-3 border-radius-md" id="remainingQuantity" name="remainingQuantity" min="0" value="0" max="{{ result.remainingQuantity }}">
                      <input type="hidden" value="{{ result.id }}" name="result" /></br>
                      <button class="btn bg-gradient-info" type="submit">เพิ่มลงตะกร้า</button>
                    </form>
                    {% endif %} {% endcomment %}
                    {% endif %}
                  </td>
                </tr>
              </tbody>
              {% endfor %}
              <tbody>
                <tr>
                  <td class="align-middle text-center"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      {% else %}
      {% include 'pages/notFoundListData.html' %}
      {% endif %}
    </div>
  </div>

  {% include 'modals/confirmDeleteData.html' %}
  {% include "modals/loading.html" %}
  {% include 'modals/deleteSuccess.html' %}
</main>
{% endblock %}

{% block js %}
{{ block.super }}
  {% if user.account.status == "admin" %}
  <script>
    const deleteUrl = '{{ deleteUrl }}'
    const urlExportData = "{% url 'ExportChemicalSubstances' %}"
    const nameFileExport = "chemicalSubstancesAllData.xlsx"
  </script>
  <script src="{{ STATIC_URL }}js/exportDataAll.js"></script>
  <script src="{{ STATIC_URL }}js/deleteData.js"></script>
  {% endif %}
{% endblock %}