{% load humanReadable %}
<div class="table-responsive p-0 m-4">
    <table class="table align-items-center mb-0">
        <thead class="bg-gray-200">
            <tr>
                <th class="text-center text-uppercase text-black text-s font-weight-bolder w-20">รายการ</th>
                <th class="text-center text-uppercase text-black text-s font-weight-bolder w-20">สถานที่</th>
                <th class="text-center text-uppercase text-black text-s font-weight-bolder w-40">วันที่จองใช้งาน</th>
                <th class="text-center text-uppercase text-black text-s font-weight-bolder w-40">วันที่อนุมัติ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="align-middle text-center">
                    <span class="text-secondary text-s">{{ order.scientificInstrument.name }}</span>
                </td>
                <td class="align-middle text-center">
                    <span class="text-secondary text-s">{{ order.scientificInstrument.place }}</span>
                </td>
                <td class="align-middle text-center">
                    {% if order.dateBooking %}
                        <span class="text-black text-s">{% load tz %}{{ order.dateBooking|date:"d/m/Y" }}</span>
                    {% else %}
                        <span class="text-black text-s">-</span>
                    {% endif %}
                </td>
                <td class="align-middle text-center">
                    {% if order.dateApproved %}
                        <span class="text-black text-s">{% load tz %}{{ order.dateApproved|timezone:'Asia/Bangkok'|date:"d/m/Y" }}</span>
                    {% else %}
                        <span class="text-black text-s">-</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="align-middle text-center"></td>
            </tr>
        </tbody>
    </table>
</div>