{% extends 'base/base.html' %}
{% block content %}
{% comment %} {% include 'base/navside.html' %} {% endcomment %}
<main class="main-content position-relative max-height-vh-100 h-100">
    {% include "base/navbar.html" %}
    <div class="container-fluid py-4 px-xl-12 px-md-5">
        <div class="row mt-4">
            <div class="card card-body mx-2 mx-md-1 mt-n4">
                <div class="card-header">
                    <h5>เพิ่มอุปกรณ์วิทยาศาตร์</h5>
                </div>
                <div class="container">
                    <!--Simple Form-->
                    {% if equipment %}
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                      <div class="bg-gradient-light shadow-secondary border-radius-lg py-3 pe-1">
                        <div class="chart">
                          {% if equipment.image %}
                            <img src="{{ equipment.image }}" onerror="this.onerror=null; this.src='{{ STATIC_URL }}images/equipment/PlaceHolder.png' ;" class="image-equipments img-fluid shadow border-radius-xl" />
                          {% else %}
                            <img src="{{ STATIC_URL }}/images/equipment/PlaceHolder.png" class="image-equipments border-radius-xl" />
                          {% endif %}
                        </div>
                      </div>
                    </div>
                    <form enctype="multipart/form-data" id="add-equipment" method="post" action="{% url 'editEquipmentApi' %}">
                        {% csrf_token %}
                        
                        <input type="hidden" value="{{ equipment.id }}" name="equipment" />
                        <div class="input-group input-group-outline my-3 is-filled">
                            <label class="form-label">ชื่ออุปกรณ์</label>
                            <input type="text" class="form-control" id="id_name" name="name" value="{{ equipment.name }}" required>
                        </div>
                        <div class="input-group input-group-outline my-3 is-filled">
                            <label class="form-label">ยี่ห้อ</label>
                            <input type="text" class="form-control" id="id_brand" name="brand" value="{% if equipment.brand is None %}{% else %}{{ equipment.brand }}{% endif %}" required>
                        </div>
                        <div class="input-group input-group-outline my-3 is-filled">
                            <label class="form-label">ขนาด</label>
                            <input type="number" class="form-control numInputWrapper" step=".01" id="id_size" name="size" value="{{ equipment.size }}" required>
                        </div>
                        <div class="input-group input-group-outline my-3">
                            <select class="form-select" id="id_unit" name="unit" required>
                                <option value="">-------- หน่วย --------</option>
                                <option value="Milliliter">mL</option>
                                <option value="Liter">L</option>
                                <option value="Millimeter">mm</option>
                                <option value="Centimeter">cm</option>
                                <option value="Celsius">&#8451;</option>
                                <option value="NotSpecified">ไม่ระบุ</option>
                                <option value="Other">อื่น ๆ</option>
                            </select>
                        </div>
                        <div id="unitOther" class="d-none">
                            <label class="form-label">ระบุหน่วยวัด</label>
                            <input type="text" class="form-control" id="id_unitOther" name="unitOther" value="{{ equipment.unit }}" required>
                        </div>
                        <div class="input-group input-group-outline my-3 is-filled">
                            <label class="form-label">จำนวน</label>
                            <input type="number" class="form-control numInputWrapper" id="id_quantity" name="quantity" value="{{ equipment.quantity }}" required>
                        </div>
                        <h2 class="my-4">เพิ่มรูปภาพ</h2>
                        <input type="file" name="upload" accept="image/*">
                        <br>
                        
                        <div class="row">
                            <div class="col-lg-6 col-sm-12 col-12">
                                <button class="btn bg-gradient-success my-4 w-75" type="submit">ยืนยัน</button>
                            </div>
                            <div class="col-lg-6 col-sm-12 col-12 mt-sm-0 mt-2">
                                <a class="" href="{% url 'equipmentListPage' %}">
                                    <span class="btn bg-gradient-danger my-4 w-75">ยกเลิก</span>
                                </a>
                            </div>
                        </div>
                    </form>
                    
                    {% else %}
                    <form enctype="multipart/form-data" id="add-equipment" method="post" action="{% url 'addEquipmentApi' %}">
                        {% csrf_token %}
                        
                        <div class="input-group input-group-outline my-3">
                            <label class="form-label">ชื่ออุปกรณ์</label>
                            <input type="text" class="form-control" id="id_name" name="name" required>
                        </div>
                        <div class="input-group input-group-outline my-3">
                            <label class="form-label">ยี่ห้อ</label>
                            <input type="text" class="form-control" id="id_brand" name="brand" required>
                        </div>
                        <div class="input-group input-group-outline my-3">
                            <label class="form-label">ขนาด</label>
                            <input type="number" class="form-control numInputWrapper" step=".01" id="id_size" name="size" required>
                        </div>
                        <div class="input-group input-group-outline my-3">
                            <select class="form-select" id="id_unit" name="unit" required>
                                <option value="">-------- หน่วย --------</option>
                                <option value="Milliliter">mL</option>
                                <option value="Liter">L</option>
                                <option value="Millimeter">mm</option>
                                <option value="Centimeter">cm</option>
                                <option value="Celsius">&#8451;</option>
                                <option value="NotSpecified">ไม่ระบุ</option>
                                <option value="Other">อื่น ๆ</option>
                            </select>
                        </div>
                        <div id="unitOther" class="d-none">
                            <label class="form-label">ระบุหน่วยวัด</label>
                            <input type="text" class="form-control" id="id_unitOther" name="unitOther" required>
                        </div>
                        <div class="input-group input-group-outline my-3">
                            <label class="form-label">จำนวน</label>
                            <input type="number" class="form-control numInputWrapper" id="id_quantity" name="quantity" required>
                        </div>
                        <h2 class="my-4">เพิ่มรูปภาพ</h2>
                        <input type="file" name="upload" accept="image/*">
                        <br>
                        <div class="row">
                            <div class="col-lg-6 col-sm-12 col-12">
                                <button class="btn bg-gradient-success my-4 w-75" type="submit">ยืนยัน</button>
                            </div>
                            <div class="col-lg-6 col-sm-12 col-12 mt-sm-0 mt-2">
                                <a class="" href="{% url 'equipmentListPage' %}">
                                    <span class="btn bg-gradient-danger my-4 w-75">ยกเลิก</span>
                                </a>
                            </div>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block js %}
{{ block.super }}
    <script>
        document.getElementsByTagName('select')[0].onchange = function() {
            var index = this.selectedIndex;
            var valueText = this.children[index].value.trim();
            if (valueText == "Other") {
                document.getElementById("unitOther").className = "input-group input-group-outline my-3 is-filled";
                document.getElementById("id_unitOther").setAttribute('required', '')
            }else {
                document.getElementById("unitOther").className = "d-none";
                document.getElementById("id_unitOther").removeAttribute('required');
            }
          }
    </script>
{% endblock %}