{% extends 'base/base.html' %}
{% block head_css_site %}
{{ block.super }}
<link id="pagestyle" href="{{ STATIC_URL }}assets/css/upload-file.css" rel="stylesheet" />
{% endblock head_css_site %}
{% block content %}
<main class="main-content position-relative max-height-vh-100 h-100">
    {% include "base/navbar2.html" %}
    <div class="container-fluid px-md-5">
        <form enctype="multipart/form-data" id="addData">
            {% csrf_token %}
            <input type="hidden" value="{{ result.id }}" name="dataID" />
            <div class="row mt-4">
                <div class="col-md-12 col-lg-6 my-2">
                    <div class="card card-body rounded-0">
                        <div class="container">
                            <span class="fw-bold fs-5 text-primary">รายชื่ออุปกรณ์</span>
                            <hr class="hr-2">
                            <div class="input-group input-group-outline my-3 {% if result.name %} is-filled{% endif %}">
                                <label class="form-label">ชื่ออุปกรณ์</label>
                                <input type="text" class="form-control" id="id_name" name="name" value="{{ result.name }}" required>
                            </div>
                            <div class="input-group input-group-outline my-3 {% if result.brand %} is-filled{% endif %}">
                                <label class="form-label">ยี่ห้อ</label>
                                <input type="text" class="form-control" id="id_brand" name="brand" value="{% if result.brand is None %}{% else %}{{ result.brand }}{% endif %}">
                            </div>
                            <div class="input-group input-group-outline my-3 {% if result.size %} is-filled{% endif %}">
                                <label class="form-label">ขนาด</label>
                                <input type="number" class="form-control numInputWrapper" step=".01" id="id_size" name="size" value="{{ result.size }}" required>
                            </div>
                            <div class="input-group input-group-outline my-3">
                                <select class="form-select" id="id_unit" name="unit" required>
                                    <option value="">-------- หน่วย --------</option>
                                    
                                    {% ifequal result.unit "Milliliter" %}
                                    <option value="Milliliter" selected>mL</option>
                                    {% else %}
                                    <option value="Milliliter">ml</option>
                                    {% endifequal %}
                                    
                                    {% ifequal result.unit "Liter" %}
                                    <option value="Liter" selected>L</option>
                                    {% else %}
                                    <option value="Liter">L</option>
                                    {% endifequal %}
                                    
                                    {% ifequal result.unit "Millimeter" %}
                                    <option value="Millimeter" selected>m</option>
                                    {% else %}
                                    <option value="Millimeter">mm</option>
                                    {% endifequal %}
                                    
                                    {% ifequal result.unit "Centimeter" %}
                                    <option value="Centimeter" selected>㎤</option>
                                    {% else %}
                                    <option value="Centimeter">㎤</option>
                                    {% endifequal %}
                                    
                                    {% ifequal result.unit "Celsius" %}
                                    <option value="Celsius" selected>&#8451;</option>
                                    {% else %}
                                    <option value="Celsius">&#8451;</option>
                                    {% endifequal %}
                                    
                                    {% ifequal result.unit "NotSpecified" %}
                                    <option value="NotSpecified" selected>ไม่ระบุ</option>
                                    {% else %}
                                    <option value="NotSpecified">ไม่ระบุ</option>
                                    {% endifequal %}
                                    
                                    {% ifequal result.unit "Other" %}
                                    <option value="Other" selected>อื่น ๆ</option>
                                    {% else %}
                                    <option value="Other">อื่น ๆ</option>
                                    {% endifequal %}
                                </select>
                            </div>
                            <div id="unitOther" class="d-none">
                                <label class="form-label">ระบุหน่วยวัด</label>
                                <input type="text" class="form-control" id="id_unitOther" name="unitOther" value="{{ result.unit }}" required>
                            </div>
                            <div class="input-group input-group-outline my-3 {% if result.quantity %} is-filled{% endif %}">
                                <label class="form-label">จำนวน</label>
                                <input type="number" class="form-control numInputWrapper" id="id_quantity" name="quantity" value="{{ result.quantity }}" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 my-2">
                    <div class="card card-body rounded-0">
                        <div class="container">
                            <span class="fw-bold fs-5">ข้อมูลเพิ่มเติม</span>
                            <hr class="hr-2 border-dark">
                            <div class="chart-items">
                                {% if result.image %}
                                <img src="{{ result.image }}" onerror="this.onerror=null; this.src='{{ STATIC_URL }}images/equipment/PlaceHolder.png' ;" class="image-scientificInstruments p-3" />
                                {% else %}
                                <img src="{{ STATIC_URL }}/images/equipment/PlaceHolder.png" class="image-scientificInstruments p-3" />
                                {% endif %}
                            </div>
                            <hr class="hr-3">

                            <div class="upload-files-container">
                                <input type="file" id="upload" class="default-file-input" name="upload" accept="image/*"/>
                                <div class="drag-file-area">
                                    <label for="upload">
                                        <i class="material-icons opacity-10 fs-1">file_upload</i>
                                        <span class="browse-files">
                                            <span class="browse-files-text">เลือกไฟล์รูปสารเคมี</span>
                                        </span> 
                                    </label>
                                </div>
                                <span class="cannot-upload-message"> <span class="material-icons-outlined">error</span> Please select a file first <span class="material-icons-outlined cancel-alert-button">cancel</span> </span>
                                <div class="file-block">
                                    <div class="file-info">
                                        <span class="file-name"> </span> | <span class="file-size"></span>
                                    </div>
                                    <span class="material-icons remove-file-icon">delete</span>
                                    <div class="progress-bar"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-lg-12 col-12 text-lg-center">
                    <input class="btn border border-info bg-gradient-info my-2 w-100 w-lg-50" type="submit" id="confirmBtn" value="บันทึก" / >
                </div>
                <div class="col-lg-12 col-12 text-lg-center">
                    <a class="" href="list">
                        <span class="btn border bg-white border-danger text-danger border-1 my-2 w-100 w-lg-50">ยกเลิก</span>
                    </a>
                </div>
            </div>
        </form>
    </div>
</main>
{% include "modals/error.html" %}
{% include "modals/loading.html" %}
{% include "modals/success.html" %}
{% endblock %}
{% block js %}
{{ block.super }}
    <script>
        const confirmUrl = '{{ confirmUrl }}'
        document.getElementsByTagName('select')[0].onchange = function() {
            var index = this.selectedIndex;
            var valueText = this.children[index].value.trim();
            if (valueText == "Other") {
                document.getElementById("unitOther").className = "input-group input-group-outline my-3 {% if result.name %} is-filled{% endif %}";
                document.getElementById("id_unitOther").setAttribute('required', '')
            }else {
                document.getElementById("unitOther").className = "d-none";
                document.getElementById("id_unitOther").removeAttribute('required');
            }
          }
    </script>
    <script src="{{ STATIC_URL }}assets/js/upload-file.js"></script>
    <script src="{{ STATIC_URL }}assets/js/addData.js"></script>
{% endblock %}