{% extends 'base/base.html' %}
{% block content %}
{% load humanReadable %}
{% include 'base/navside.html' %}
<main class="main-content position-relative max-height-vh-100 h-100">
    {% include "base/navbar.html" %}
    <div class="container-fluid py-4 ">
        <div class="row">
            <div class="card card-body mx-3 px-4 pt-4">
                <div class="container-fluid p-0">
                    {% include 'pages/equipments/analysis/summary.html' %}
                    {% include 'pages/equipments/analysis/orders.html' %}
                </div>
                <div class="card-body p-0 my-3">
                    <span class="text-black text-bold me-3">สถิติการ{{ actionCategory }}{{ nameCategory }}</span>
                    <span onclick="downloadDataUses(event)" class="text-sm text-info text-end text-decoration-underline w-50 ms-3">ดาวน์โหลดข้อมูล</span>
                </div>
                {% include 'pages/equipments/analysis/table.html' %}
            </div>
        </div>

    </div>
</main>
{% include "modals/error.html" %}
{% include "modals/loading.html" %}
{% include "modals/success.html" %}
{% endblock %}

{% block js %}
{{ block.super }}
    <script>
        const urlExportDataUser = "{% url 'ExportUserEquipments' %}"
        const urlExportOrder    = "{% url 'ExportOrderEquipments' %}"
        const urlExportDataUses = "{% url 'ExportUsesEquipments' %}"
    </script>
    <script src="{{ STATIC_URL }}js/callAPI.js"></script>
    <script src="{{ STATIC_URL }}js/exportUserData.js"></script>
    <script src="{{ STATIC_URL }}js/exportEquipments.js"></script>
{% endblock %}