{% extends 'base/base.html' %}
{% block content %}
{% include 'base/navside.html' %}
<main class="main-content position-relative max-height-vh-100 h-100">
    {% include "base/navbar.html" %}
    <div class="container-fluid py-4 ">
        <div class="row">
            <div class="card card-body mx-3 px-4 pt-4">
                <div class="d-flex align-items-center mx-3">
                    <img src="{{ STATIC_URL }}/images/basket_alert.png" class="image-alert" />
                    <span class="text-black fs-4">ตะกร้าของฉัน</span>
                </div>
                {% if equipments %}

                {% include 'pages/equipments/details/table.html' %}

                <div class="d-flex justify-content-end text-center m-4">
                    <a href="{% url 'equipmentListPage' %}" class="btn-w-270 m-2">
                        <button class="btn border border-gray fs-6 w-100 h-100" type="submit">ย้อนกลับ</button>
                    </a>
                    {% csrf_token %}
                    <button class="btn bg-gradient-info fs-6 btn-w-270 m-2" onclick="confirmBorrowing()">ยืนยันการยืม</button>
                </div>
                {% else %}
                    {% include "error/notFoundData.html" %}
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% include "modals/error.html" %}
{% include "modals/loading.html" %}
{% include "modals/success.html" %}
{% endblock %}

{% block js %}
{{ block.super }}
<script>
  const confirmBorrowingUrl = "{% url 'confirmBorrowingApi' %}"
  const removeItemUrl = "{% url 'removeItemForBorrowingApi' %}"
</script>
<script src="{{ STATIC_URL }}js/borrowingEquipment.js"></script>
<script src="{{ STATIC_URL }}js/callAPI.js"></script>
{% endblock js %}