{% extends 'base/base.html' %}
{% block content %}
{% load humanReadable %}
{% include 'base/navside.html' %}
<main class="main-content position-relative max-height-vh-100 h-100">
  {% include "base/navbar.html" %}
  <div class="container-fluid py-4 ">
    <div class="row">
      <div class="card card-body mx-3 px-4 pt-4">
        <div class="card-body shadow mx-4">
          <div class="d-flex align-items-center mx-3">
            <h6 class="text-black text-start mb-0 mx-3">{{ order.user.firstname }} {{ order.user.lastname }}</h6>
            <span class="text-black text-start mb-0 ms-6 me-3">
              รหัสนักศึกษา : {{ order.user.studentID }}
            </span>
            {% with statusMap|hash:order.status as button %}
                <span class="badge badge-sm bg-gradient-{{ button.style }}">{{ button.text }}</span>
            {% endwith %}
          </div>
          <div class="d-flex align-items-center mx-3">
            <span class="text-secondary text-xs mx-3"> อนุมัติภายใน 24 ชั่วโมง ณ วันทำการ</span>
          </div>
        </div>
          {% if equipments %}
          {% include 'pages/equipments/details/table.html' %}
          {% else %}
          {% include "error/notFoundData.html" %}
          {% endif %}
          {% include 'pages/equipments/details/button.html' %}
        </div>
      </div>
    </div>
  </div>
</main>
{% include "modals/error.html" %}
{% include "modals/loading.html" %}
{% include "modals/success.html" %}
{% endblock %}

{% block js %}
{{ block.super }}
<script>
  const cancelUrl         = "{% url 'cancelBorrowingApi' %}"
  const approvalUrl       = "{% url 'approvalBorrowingApi' %}"
  const returnUrl         = "{% url 'returnEquipmentsApi' %}"
  const borrowingAgainUrl = "{% url 'borrowingAgainApi' %}"
</script>
<script src="{{ STATIC_URL }}js/borrowingEquipment.js"></script>
<script src="{{ STATIC_URL }}js/callAPI.js"></script>
{% if user.account.status == "admin" %}
<script>
  const confirmReturnUrl  = "{% url 'confirmReturnApi' %}"
</script>
<script src="{{ STATIC_URL }}js/approveWithdraw.js"></script>
<script src="{{ STATIC_URL }}js/confirmReturn.js"></script>
{% else %}
<script src="{{ STATIC_URL }}js/cancelWithdraw.js"></script>
{% endif %}
{% endblock js %}