{% extends 'base/base.html' %}
{% block content %}
{% include 'base/navside.html' %}
{% load humanReadable %}
<main class="main-content position-relative max-height-vh-100 h-100">
    {% include "base/navbar.html" %}
  <div class="container-fluid py-4 ">
    <div class="row">
      <div class="col-lg-12 col-md-10 col-8 d-flex align-items-center mb-3">
        <h5 class="mx-3">รายละเอียดการยืม-คืนอุปกรณ์วิทยาศาสตร์</h5>
        {% with statusMap|hash:order.status as button %}
          <span class="badge badge-sm bg-gradient-{{ button.style }}">{{ button.text }}</span>
      {% endwith %}
      </div>
    </div>
    
    <div class="row">
      {% ifequal order.status "waiting" %}
      <span class="text-secondary text-xs mx-3 mt-n3 mb-3"> อนุมัติภายใน 24 ชั่วโมง ณ วันทำการ</span>
      {% endifequal %}
    </div>

    <div class="row mt-4">
      <div class="card card-body mx-3 mt-3 px-0 pb-2">
        <div class="card-header p-3">
          <h5 class="mb-3">ข้อมูลการยืมอุปกรณ์วิทยาศาสตร์</h5>
          <div class="align-items-center col-6">
            <p class="text-s text-start mb-0">
              ผู้ยืมอุปกรณ์ : {{ order.user.firstname }} {{ order.user.lastname }}
            </p>
            <p class="text-s text-start mb-0">
              ผู้อนุมัติ : {% if order.approver.firstname %} {{ order.approver.firstname }} {% endif %} {% if order.approver.lastname %} {{ order.approver.lastname }} {% endif %}
            </p>
            <p class="text-s text-start mb-0">
              วันที่ยืม : {% load tz %}{{ order.dateBorrowing|timezone:'Asia/Bangkok'|date:"d/m/Y เวลา H:m น." }}
            </p>
            <p class="text-s text-start mb-0">
              วันที่อนุมัติ : {% load tz %}{{ order.dateApproved|timezone:'Asia/Bangkok'|date:"d/m/Y เวลา H:m น." }}
            </p>
            <p class="text-s text-start mb-0">
              วันที่คืนอุปกรณ์ : {% load tz %}{{ order.dateReturn|timezone:'Asia/Bangkok'|date:"d/m/Y เวลา H:m น." }}
            </p>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          {% if equipments %}
          <h6 class="mb-3 text-center">รายการอุปกรณ์วิทยาศาสตร์</h6>
          {% include 'pages/equipments/details/table.html' %}
          {% else %}
          {% include "pages/equipments/notFoundData.html" %}
          {% endif %}
          {% include 'pages/equipments/details/button.html' %}
        </div>
      </div>
    </div>
    
  </div>
</main>
{% endblock %}