{% extends 'base/base.html' %}
{% load humanReadable %}
{% block content %}
{% include 'base/navside.html' %}
<main class="main-content position-relative max-height-vh-100 h-100">
  {% include "base/navbar.html" %}
  <div class="container-fluid py-4 ">
    <div class="row">
      {% if results %}
      <div class="card card-body mx-3 px-4 pt-4">
        {% include "pages/topListPage.html" %}
        <div class="row">
          {% for result in results %}
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 mt-3 mb-4">
            <div class="card border border-info shadow-info">
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                <div class="mt-5">
                  <h5 class="truncate mt-1">
                    {{ result.name }}
                    <span class="tooltiptext text-center">{{ result.name }}</span>
                  </h5>
                  <div class="chart-items">
                    {% if result.image %}
                      <img src="{{ result.image }}" onerror="this.onerror=null; this.src='{{ STATIC_URL }}images/equipment/PlaceHolder.png' ;"
                      class="image-scientificInstruments" />
                    {% else %}
                      <img src="{{ STATIC_URL }}images/equipment/PlaceHolder.png" 
                      class="image-scientificInstruments" />
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="card-body mb-n3 text-center">
                <span class="d-block">
                  ขนาด : {{ result.size }} {{ result.unit|Unit }}
                </span>
                <span class="d-block mb-3">จำนวนที่มี : {{ result.quantity }}</span>
                  {% if user.account.status == "admin" %}
                  <div class="row">
                    <div class="col-12 col-md-12 col-xl-6 col-lg-6">
                      <form id="add-equipment" method="post" action="edit">
                        {% csrf_token %}
                        <input type="hidden" value="{{ result.id }}" name="id" />
                        <button class="btn bg-gradient-warning w-100 px-0" type="submit">แก้ไขข้อมูล</button>
                      </form>
                    </div>
                    <div class="col-12 col-md-12 col-xl-6 col-lg-6">
                        <button class="btn bg-gradient-danger w-100 px-0" data-bs-toggle="modal" data-bs-target="#modalDelete" onclick="showConfirmDelete({{ result.id }})">ลบข้อมูล</button>
                    </div>
                  </div>
                  {% else %}
                  {% if result.quantity == 0 %}
                  <label class="form-label">จำนวนที่ยืม : </label>
                  <input type="number" class="text-center mb-3 border-radius-md" id="quantity" name="quantity" min="0" value="0" max="{{ result.quantity }}"></br>
                  <button class="btn btn-add-cart disable" type="submit" disabled>เพิ่มลงตะกร้า</button>
                  {% else %}
                  <form id="add-equipment" method="post" action="{% url 'addItemForBorrowingApi' %}">
                    {% csrf_token %}
                    <label class="form-label">จำนวนที่ยืม : </label>
                    <input type="number" class="text-center mb-3 border-radius-md" id="quantity" name="quantity" min="0" value="0" max="{{ result.quantity }}">
                    <input type="hidden" value="{{ result.id }}" name="equipment" /></br>
                    <button class="btn btn-add-cart" type="submit">เพิ่มลงตะกร้า</button>
                  </form>
                  {% endif %}
                  {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% else %}
      {% include 'pages/notFoundListData.html' %}
      {% endif %}
    </div>
  </div>
  {% include 'modals/confirmDeleteData.html' %}
  {% include "modals/loading.html" %}
  {% include 'modals/deleteSuccess.html' %}
</main>
{% endblock %}

{% block js %}
{{ block.super }}
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  {% if user.account.status == "admin" %}
  <script>
    const deleteUrl = '{{ deleteUrl }}'
    function showConfirmDelete(id)
    {
        const dataID = document.querySelector("#dataID")
        dataID.value = id
    }
    const equipmentsJson = JSON.parse('{{ resultsJson | safe }}')
      const urlExportData = "{% url 'ExportEquipments' %}"
  </script>
  <script src="{{ STATIC_URL }}js/exportEquipment.js"></script>
  <script src="{{ STATIC_URL }}js/deleteData.js"></script>
  {% endif %}
{% endblock %}