<div class="chart text-center m-3">
    {% if account.image %}
    <img src="{{ account.image }}"  onerror="this.onerror=null; this.src='{{ STATIC_URL }}images/account/PlaceHolder.png' ;" class="image-scientificInstruments border-radius-xl" />
    {% else %}
    <img src="{{ STATIC_URL }}/images/account/PlaceHolder.png" class="image-scientificInstruments border-radius-xl" />
    {% endif %}
</div>
<div class="my-3 text-center">
    <span class="text-black text-center">รหัสนักศึกษา : {{ account.studentID }}</span>
</div>

<form enctype="multipart/form-data" role="form" class="text-start" id="login-form" name="formSignin" onsubmit="return checkInp()" method="post" action="{% url 'updateAccoutApi' %}">
    {% csrf_token %}
    <input type="hidden" value="{{ account.id }}" name="accountID" />
    <input type="hidden" value="{{ account.username }}" name="username" />
    <div class="input-group input-group-outline mb-3">
        <select class="form-select" id="idPrefix" name="prefix" required>
            <option value="">-------- คำนำหน้า --------</option>
            {% for value, label in PREFIX.items %}
                <option value="{{ value }}" {% if account.prefix == value %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="input-group input-group-outline my-3 is-filled">
        <label class="form-label">ชื่อ</label>
        <input type="text" class="form-control" id="id_firstname" name="firstname" value="{% if account.firstname %}{{ account.firstname }}{% endif %}" required pattern="[^0-9]*">
    </div>
    <div class="input-group input-group-outline mb-3 is-filled">
        <label class="form-label">นามสกุล</label>
        <input type="text" class="form-control" id="id_lastname" name="lastname" value="{% if account.lastname %}{{ account.lastname }}{% endif %}" place required pattern="[^0-9]*">
    </div>
    <div class="input-group input-group-outline mb-3">
        <select class="form-select" id="id_branch" name="branch" required>
            <option value="">-------- สาขา --------</option>
            {% for value, label in BRANCH.items %}
                <option value="{{ value }}" {% if branch == value %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
        </select>
    </div>
    <div id="branchOther" class="d-none">
        <label class="form-label">ระบุสาขา</label>
        <input type="text" class="form-control" id="id_branchOther" name="branchOther" value="{{ account.branch }}">
    </div>
    <div class="input-group input-group-outline mb-3">
        <select class="form-select" id="idlevelClass" name="levelClass" required>
            <option value="">-------- ชั้นปี --------</option>
            {% for value, label in LEVEL_CLASS.items %}
                <option value="{{ value }}" {% if account.levelClass == value %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="input-group input-group-outline mb-3 is-filled">
        <label class="form-label">เบอร์มือถือ</label>
        <input type="tel" class="form-control" id="id_phone" name="phone" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" value="{{ account.phone }}" required>
    </div>
    <div class="input-group input-group-outline mb-3 is-filled">
        <label class="form-label">อีเมล์</label>
        <input type="email" class="form-control" id="id_email" name="email" value="{{ account.email }}" required>
    </div>
    <div class="input-group input-group-outline mb-3">
        <select class="form-select" id="id_category" name="category" required>
            <option value="">-------- สถานะ --------</option>
            {% for value, label in CATEGORY.items %}
                <option value="{{ value }}" {% if account.category == value %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
        </select>
    </div>
    <div id="categoryOther" class="d-none">
        <label class="form-label">ระบุสถานะ</label>
        <input type="text" class="form-control" id="id_categoryOther" name="categoryOther" value="{{ account.categoryOther }}" required>
    </div>
    <h2 class="my-4">เพิ่มรูปภาพโปรไฟล์</h2>
    <input type="file" name="upload" accept="image/*">
    <br>
    <div class="text-center">
        <button type="submit" class="btn bg-gradient-info w-100 w-lg-50 my-4 mb-2 fs-6">บันทึกข้อมูล</button>
    </div>
</form>
<div class="text-center">
    <a href="{{ linkBack }}">
        <span class="btn border bg-white border-danger text-danger border-1 my-2 w-50 fs-6">กลับ</span>
    </a>
</div>