<main class="main-content position-relative max-height-vh-100 h-100">
  <div class="container-fluid py-4">
    <div class="row mt-4 mb-n4">
      
      <div class="col-lg-4 col-md-6 mt-4">
        <a href="{% url 'notifications-forgetten' %}">
          <div class="card-header p-0 position-relative mt-n4 z-index-2 bg-transparent">
            <div class="bg-gradient-landing-btn shadow-primary border-radius-lg py-3 pe-1">
              <div class="chart text-white">
                <div class="landing-box-image">
                  <img src="{{ STATIC_URL }}/images/bell.png" />
                </div>
                <div class="landing-box-text mt-5 mx-2">แจ้งเตือนการยืม-คืน อุปกรณ์วิทยาศาสตร์</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      
      <div class="col-lg-4 col-md-6 mt-4">
        <a href="{% url 'information-equipment' %}">
          <div class="card-header p-0 position-relative mt-n4 z-index-2 bg-transparent">
            <div class="bg-gradient-landing-btn shadow-primary border-radius-lg py-3 pe-1">
              <div class="chart text-white">
                <div class="landing-box-image">
                  <img src="{{ STATIC_URL }}/images/folder.png" />
                </div>
                <div class="landing-box-text mt-5 mx-2">ข้อมูลการยืม-คืน อุปกรณ์วิทยาศาสตร์</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      
      <div class="col-lg-4 col-md-6 mt-4">
        <a href="{% url 'equipment-list' %}">
          <div class="card-header p-0 position-relative mt-n4 z-index-2 bg-transparent">
            <div class="bg-gradient-landing-btn shadow-primary border-radius-lg py-3 pe-1">
              <div class="chart text-white">
                <div class="landing-box-image">
                  <img src="{{ STATIC_URL }}/images/experiment.png" />
                </div>
                <div class="landing-box-text mt-5 mx-2">รายการอุปกรณ์วิทยาศาสตร์</div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="row mt-4 mb-n4">
      <div class="col-lg-4 col-md-6 mt-4">
        <a href="{% url 'analysispage' %}">
          <div class="card-header p-0 position-relative mt-n4 z-index-2 bg-transparent">
            <div class="bg-gradient-landing-btn shadow-primary border-radius-lg py-3 pe-1">
              <div class="chart text-white">
                <div class="landing-box-image">
                  <img src="{{ STATIC_URL }}/images/statistics.png" />
                </div>
                <div class="landing-box-text mt-5 mx-2">วิเคราะห์ข้อมูลการยืม-คืนอุปกรณ์วิทยาศาสตร์</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      
      <div class="col-lg-4 col-md-6 mt-4">
        <a href="{% url 'borrowing-history' %}">
          <div class="card-header p-0 position-relative mt-n4 z-index-2 bg-transparent">
            <div class="bg-gradient-landing-btn shadow-primary border-radius-lg py-3 pe-1">
              <div class="chart text-white">
                <div class="landing-box-image">
                  <img src="{{ STATIC_URL }}/images/growth.png" />
                </div>
                <div class="landing-box-text mt-5 mx-2">ประวัติการยืม-คืนอุปกรณ์วิทยาศาสตร์</div>
              </div>
            </div>
          </div>
        </a>
      </div>

      {% if user.account.status == "admin" %}
      <div class="col-lg-4 col-md-6 mt-4">
        <a href="{% url 'usermanagementpage' %}">
          <div class="card-header p-0 position-relative mt-n4 z-index-2 bg-transparent">
            <div class="bg-gradient-landing-btn shadow-primary border-radius-lg py-3 pe-1">
              <div class="chart text-white">
                <div class="landing-box-image">
                  <img src="{{ STATIC_URL }}/images/profile.png" />
                </div>
                <div class="landing-box-text mt-5 mx-2">จัดการข้อมูลผู้ใช้บริการระบบ</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      {% endif %}
      
      <div class="col-lg-4 col-md-6 mt-4">
        <a href="{% url 'logoutApi' %}">
          <div class="card-header p-0 position-relative mt-n4 z-index-2 bg-transparent">
            <div class="bg-gradient-landing-btn shadow-primary border-radius-lg py-3 pe-1">
              <div class="chart text-white">
                <div class="landing-box-image">
                  <img src="{{ STATIC_URL }}/images/check-out.png" />
                </div>
                <div class="landing-box-text mt-5 mx-2">ออกจากระบบ</div>
              </div>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>
</main>