<main class="main-content position-relative max-height-vh-100 h-100">
  <div class="container-fluid py-4">
    <div class="row mt-4">
      <div class="col-lg-4 col-md-6 mt-4 mb-4">
        <a href="{% url 'homepage' %}">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
            <div class="bg-gradient-landing-btn shadow-primary border-radius-lg py-3 pe-1">
              <div class="chart text-white">
                <div class="landing-box-image">
                  <img src="{{ STATIC_URL }}/images/bell.png" />
                </div>
                <div class="landing-box-text">แจ้งเตือนการยืม-คืน อุปกรณ์เคมี</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      
      <div class="col-lg-4 col-md-6 mt-4 mb-4">
        <a href="{% url 'homepage' %}">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
            <div class="bg-gradient-landing-btn shadow-primary border-radius-lg py-3 pe-1">
              <div class="chart text-white">
                <div class="landing-box-image">
                  <img src="{{ STATIC_URL }}/images/folder.png" />
                </div>
                <div class="landing-box-text">ข้อมูลการยืม-คืน อุปกรณ์เคมี</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      
      <div class="col-lg-4 col-md-6 mt-4 mb-4">
        <a href="{% url 'homepage' %}">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
            <div class="bg-gradient-landing-btn shadow-primary border-radius-lg py-3 pe-1">
              <div class="chart text-white">
                <div class="landing-box-image">
                  <img src="{{ STATIC_URL }}/images/experiment.png" />
                </div>
                <div class="landing-box-text">รายการอุปกรณ์เคมี</div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-lg-4 col-md-6 mt-4 mb-4">
        <a href="{% url 'homepage' %}">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
            <div class="bg-gradient-landing-btn shadow-primary border-radius-lg py-3 pe-1">
              <div class="chart text-white">
                <div class="landing-box-image">
                  <img src="{{ STATIC_URL }}/images/profile.png" />
                </div>
                <div class="landing-box-text">จัดการข้อมูลผู้ใช้บริการอุปกรณ์เคมี</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      
      <div class="col-lg-4 col-md-6 mt-4 mb-4">
        <a href="{% url 'homepage' %}">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
            <div class="bg-gradient-landing-btn shadow-primary border-radius-lg py-3 pe-1">
              <div class="chart text-white">
                <div class="landing-box-image">
                  <img src="{{ STATIC_URL }}/images/growth.png" />
                </div>
                <div class="landing-box-text">ประวัติการยืม-คืน อุปกรณ์เคมี</div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</main>