{% extends 'base/base.html' %}

{% block title %}ลงทะเบียน{% endblock %}
{% block sidebar %}{% endblock %}
{% block topbar %}{% endblock %}
{% block content %}
<main class="mt-0 bg-body">
    <div class="page-header align-items-start min-vh-100">
        <span class="mask bg-gradient-dark opacity-6"></span>
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-12 mx-auto">
                    <div class="card z-index-0 fadeIn3 fadeInBottom">
                        <div class="card-body">
                            <div class="right">
                                {% if user.account.status == "admin" %}
                                <a href="{% url 'usermanagementpage' %}"><img src="{{ STATIC_URL }}/images/cancel.png" /></a>
                                {% else %}
                                <a href="{% url 'homepage' %}"><img src="{{ STATIC_URL }}/images/cancel.png" /></a>
                                {% endif %}
                            </div>
                            {% if account %}
                            <h4 class="text-black font-weight-bolder text-center mt-2 mb-0">แก้ไขข้อมูลผู้ใช้งาน</h4>
                            <div class="input-group input-group-outline my-3">
                                <span class="text-black">รหัสนักศึกษา : </span>
                                <span class="text-black">{{ account.studentID }}</span>
                            </div>
                            
                            <form role="form" class="text-start" id="login-form" name="formSignin" onsubmit="return checkInp()" method="post" action="{% url 'updateAccoutApi' %}">
                                {% csrf_token %}
                                <input type="hidden" value="{{ account.id }}" name="accountID" />
                                <input type="hidden" value="{{ account.username }}" name="username" />
                                <div class="input-group input-group-outline mb-3">
                                    <select class="form-select" id="id_nameprefix" name="nameprefix" required>
                                        <option value="">-------- คำนำหน้า --------</option>
                                        <option value="Mr.">นาย</option>
                                        <option value="Mrs.">นาง</option>
                                            <option value="Miss">นางสาว</option>
                                    </select>
                                </div>
                                <div class="input-group input-group-outline my-3 is-filled">
                                    <label class="form-label">ชื่อ</label>
                                    <input type="text" class="form-control" id="id_firstname" name="firstname" value="{{ account.firstname }}" required>
                                </div>
                                <div class="input-group input-group-outline mb-3 is-filled">
                                    <label class="form-label">นามสกุล</label>
                                    <input type="text" class="form-control" id="id_lastname" name="lastname" value="{{ account.lastname }}" place required>
                                </div>
                                <div class="input-group input-group-outline mb-3">
                                    <select class="form-select" id="id_branch" name="branch" required>
                                        <option value="">-------- สาขา --------</option>
                                        <option value="B-Ed_Chemistry">สาขาวิชาเคมี (คบ.)</option>
                                        <option value="B-S_Chemistry">สาขาวิชาเคมี (วท.บ.)</option>
                                        <option value="B-Ed_Physical ">สาขาวิชาฟิสิกส์ (คบ.)</option>
                                        <option value="B-S_Physical ">สาขาวิชาฟิสิกส์ (วท.บ.)</option>
                                        <option value="B-Ed_Biology">สาขาวิชาชีววิทยา (คบ.)</option>
                                        <option value="B-S_Biology">สาขาวิชาชีววิทยา (วท.บ.)</option>
                                        <option value="Other_Other">อื่น ๆ</option>
                                    </select>
                                </div>
                                <div id="branchOther" class="d-none">
                                    <label class="form-label">ระบุสาขา</label>
                                    <input type="text" class="form-control" id="id_branchOther" name="branchOther" required>
                                </div>
                                <div class="input-group input-group-outline mb-3">
                                    <select class="form-select" id="id_levelclass" name="levelclass" required>
                                        <option value="">-------- ชั้นปี --------</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                                <div class="input-group input-group-outline mb-3 is-filled">
                                    <label class="form-label">เบอร์มือถือ</label>
                                    <input type="tel" class="form-control" id="id_phone" name="phone" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" value="{{ account.phone }}" required>
                                </div>
                                <div class="input-group input-group-outline mb-3 is-filled">
                                    <label class="form-label">อีเมล์</label>
                                    <input type="email" class="form-control" id="id_email" name="email" value="{{ account.email }}" required>
                                </div>
                                <div class="input-group input-group-outline mb-3">
                                    <select class="form-select" id="id_category" name="category" required>
                                        <option value="">-------- สถานะ --------</option>
                                        <option value="student">นักศึกษา</option>
                                        <option value="teacher">อาจารย์</option>
                                        <option value="personnel">บุคลากร</option>
                                        <option value="other">อื่นๆ</option>
                                        <option value="notSpecified">ไม่ระบุ</option>
                                    </select>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn bg-gradient-primary w-100 my-4 mb-2">บันทึกข้อมูล</button>
                                </div>
                            </form>

                            {% else %}

                            <h4 class="text-black font-weight-bolder text-center mt-2 mb-3">ลงทะเบียนเข้าใช้งาน</h4>
                            <form role="form" class="text-start" id="login-form" name="formSignin" onsubmit="return checkInp()" method="post" action="{% url 'registerApi' %}">
                                {% csrf_token %}
                                <p class="text-secondary text-xs mb-n3 text-danger">*กรณีที่ไม่ใช่นักศึกษาให้ใช้เป็นเบอร์โทรศัพท์</p>
                                <div class="input-group input-group-outline my-3">
                                    <label class="form-label">รหัสนักศึกษา</label>
                                    <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" class="form-control numInputWrapper" minlength="10" maxlength="10" id="id_username" name="username" required>
                                </div>
                                {% if accountExists %}<span class="text-danger mb-2">{{ accountExists }}</span>{% endif %}
                                
                                <div class="input-group input-group-outline mb-3">
                                    <label class="form-label">รหัสผ่าน</label>
                                    <input type="password" class="form-control" id="id_password" name="password" minlength="8" required>
                                </div>
                                {% if password %}<span class="text-danger mb-2">{{ password }}</span>{% endif %}
                                <div class="input-group input-group-outline mb-3">
                                    <label class="form-label">ยืนยันรหัสผ่าน</label>
                                    <input type="password" class="form-control" id="id_repassword" name="repassword" minlength="8" required>
                                </div>
                                <div class="input-group input-group-outline mb-3">
                                    <select class="form-select" id="id_nameprefix" name="nameprefix" required>
                                        <option value="">-------- คำนำหน้า --------</option>
                                        <option value="Mr.">นาย</option>
                                        <option value="Mrs.">นาง</option>
                                            <option value="Miss">นางสาว</option>
                                    </select>
                                </div>
                                <div class="input-group input-group-outline my-3">
                                    <label class="form-label">ชื่อ</label>
                                    <input type="text" class="form-control" id="id_firstname" name="firstname" required pattern="[a-zA-Z]*" >
                                </div>
                                <div class="input-group input-group-outline mb-3">
                                    <label class="form-label">นามสกุล</label>
                                    <input type="text" class="form-control" id="id_lastname" name="lastname" place required pattern="[a-zA-Z]*" >
                                </div>
                                <div class="input-group input-group-outline mb-3">
                                    <select class="form-select" id="id_branch" name="branch" required>
                                        <option value="">-------- สาขา --------</option>
                                        <option value="B-Ed_Chemistry">สาขาวิชาเคมี (คบ.)</option>
                                        <option value="B-S_Chemistry">สาขาวิชาเคมี (วท.บ.)</option>
                                        <option value="B-Ed_Physical ">สาขาวิชาฟิสิกส์ (คบ.)</option>
                                        <option value="B-S_Physical ">สาขาวิชาฟิสิกส์ (วท.บ.)</option>
                                        <option value="B-Ed_Biology">สาขาวิชาชีววิทยา (คบ.)</option>
                                        <option value="B-S_Biology">สาขาวิชาชีววิทยา (วท.บ.)</option>
                                        <option value="Other_Other">อื่น ๆ</option>
                                    </select>
                                </div>
                                <div id="branchOther" class="d-none">
                                    <label class="form-label">ระบุสาขา</label>
                                    <input type="text" class="form-control" id="id_branchOther" name="branchOther" required>
                                </div>
                                <div class="input-group input-group-outline mb-3">
                                    <select class="form-select" id="id_levelclass" name="levelclass" required>
                                        <option value="">-------- ชั้นปี --------</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="0">ไม่ระบุ</option>
                                    </select>
                                </div>
                                <div class="input-group input-group-outline mb-3">
                                    <label class="form-label">เบอร์มือถือ</label>
                                    <input type="tel" class="form-control" id="id_phone" name="phone" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" required>
                                </div>
                                <div class="input-group input-group-outline mb-3">
                                    <label class="form-label">อีเมล์</label>
                                    <input type="email" class="form-control" id="id_email" name="email" required>
                                </div>
                                <div class="input-group input-group-outline mb-3">
                                    <select class="form-select" id="id_category" name="category" required>
                                        <option value="">-------- สถานะ --------</option>
                                        <option value="student">นักศึกษา</option>
                                        <option value="teacher">อาจารย์</option>
                                        <option value="personnel">บุคลากร</option>
                                        <option value="other">อื่นๆ</option>
                                        <option value="notSpecified">ไม่ระบุ</option>
                                    </select>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn bg-gradient-primary w-100 my-4 mb-2">ลงทะเบียน</button>
                                </div>
                            </form>
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block js %}
{{ block.super }}
    <script>
        document.getElementById('id_branch').onchange = function() {
            var index = this.selectedIndex;
            var valueText = this.children[index].value.trim();
            console.log(valueText)
            if (valueText == "Other_Other") {
                document.getElementById("branchOther").className = "input-group input-group-outline mb-3 is-filled";
                document.getElementById("id_branchOther").setAttribute('required', '')
            }else {
                document.getElementById("branchOther").className = "d-none";
                document.getElementById("id_branchOther").removeAttribute('required');
            }
        }
        function checkInp()
        {
            firstname = document.forms["formSignin"]["firstname"].value;
            lastname = document.forms["formSignin"]["lastname"].value;
            if (!isNaN(firstname) || !isNaN(lastname)) 
            {
                alert("กรอกเฉพาะตัวอักษรเท่านั้น");
                return false;
            }
        }
    </script>
{% endblock %}