<div class="d-flex justify-content-end text-center m-4">
    {% csrf_token %}
    <a href="notifications" class="btn-w-270 m-2">
        <button class="btn border border-gray fs-6 w-100 h-100" type="submit">ย้อนกลับ</button>
    </a>
    <input type="hidden" id="orderID" value="{{ order.id }}">
    {% if user.account.status == "admin" %}
        {% if order.status == "waiting" %}
        <button class="btn bg-gradient-danger fs-6 btn-w-270 m-2" onclick="approvalWithdraw('disapproved')">ไม่อนุมัติ</button>
        <button class="btn bg-gradient-info fs-6 btn-w-270 m-2" onclick="approvalWithdraw('approved')">อนุมัติ</button>
        {% elif order.status == "returned" %}
        <button class="btn bg-gradient-info fs-6 btn-w-270 m-2" onclick="confirmReturn()">ยืนยันการคืนอุปกรณ์</button>
        {% elif order.status == "overdued" %}
        <button class="btn bg-gradient-danger fs-6 btn-w-270 m-2" onclick="returnEquipments()">คืนอุปกรณ์</button>
        {% endif %}
    {% elif user.account.status == "user" %}
        {% if order.status == "waiting" %}
        <input type="hidden" id="orderID" value="{{ order.id }}">
        <button class="btn bg-gradient-danger fs-6 btn-w-270 m-2" onclick="showConfirmDelete()">ยกเลิกการเบิก</button>
        {% elif order.status == "approved" %}
        <button class="btn bg-gradient-danger fs-6 btn-w-270 m-2" onclick="returnEquipments()">คืนอุปกรณ์</button>
        <button class="btn bg-gradient-warning fs-6 btn-w-270 m-2" onclick="borrowingAgain()">ยืมอุปกรณ์ต่อ</button>
        {% endif %}
    {% endif %}
</div>