{% extends 'base/base.html' %}
{% block content %}
<main class="main-content position-relative max-height-vh-100 h-100">
    <div class="container-fluid py-4">
        
        <div class="row">
            <div class="col-lg-8 col-md-6 col-8 d-flex align-items-center mb-3">
                <h5>จัดการข้อมูลผู้ใช้บริการอุปกรณ์วิทยาศาสตร์</h5>
            </div>
        </div>

        <div class="container-fluid py-4">
            <div class="row">
                
                <div class="col-xl-3 col-sm-6 mb-xl-4 mb-4">
                    <div class="card">
                        <div class="card-header p-3 pt-2">
                            <div class="bg-gradient-info shadow-info border-radius-lg  pt-2 pb-2 mt-n4">
                                <p class="text-s mb-0 text-white">รายการทั้งหมด</p>
                            </div>
                            <div class="text-center pt-3">
                                <h1 class="mb-0 text-info">{{ orders.all }}</h1>
                                <p class="text-md mb-0 text-capitalize">รายการ</p>
                            </div>
                        </div>
                        <hr class="dark horizontal my-0">
                        <div class="card-footer p-3">
                            
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-3 col-sm-6 mb-xl-4 mb-4">
                    <div class="card">
                        <div class="card-header p-3 pt-2">
                            <div class="bg-gradient-success shadow-success border-radius-lg pt-2 pb-2 mt-n4">
                                <p class="text-s mb-0 text-white">รายการที่อนุมัติแล้ว</p>
                            </div>
                            <div class="text-center pt-3">
                                <h1 class="mb-0 text-success">{{ orders.approved }}</h1>
                                <p class="text-md mb-0 text-capitalize">รายการ</p>
                            </div>
                        </div>
                        <hr class="dark horizontal my-0">
                        <div class="card-footer p-3">

                        </div>
                    </div>
                </div>
                
                <div class="col-xl-3 col-sm-6 mb-xl-4 mb-4">
                    <div class="card">
                        <div class="card-header p-3 pt-2">
                            <div class="bg-gradient-success shadow-success border-radius-lg pt-2 pb-2 mt-n4">
                                <p class="text-s mb-0 text-white">รายการที่คืนเรียบร้อยแล้ว</p>
                            </div>
                            <div class="text-center pt-3">
                                <h1 class="mb-0 text-success">{{ orders.completed }}</h1>
                                <p class="text-md mb-0 text-capitalize">รายการ</p>
                            </div>
                        </div>
                        <hr class="dark horizontal my-0">
                        <div class="card-footer p-3">
                            
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6 mb-xl-4 mb-4">
                    <div class="card">
                        <div class="card-header p-3 pt-2">
                            <div class="bg-gradient-warning shadow-warning border-radius-lg pt-2 pb-2 mt-n4">
                                <p class="text-s mb-0 text-white">รายการที่รออนุมัติ</p>
                            </div>
                            <div class="text-center pt-3">
                                <h1 class="mb-0 text-warning">{{ orders.waiting }}</h1>
                                <p class="text-md mb-0 text-capitalize">รายการ</p>
                            </div>
                        </div>
                        <hr class="dark horizontal my-0">
                        <div class="card-footer p-3">
                            
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-3 col-sm-6 mb-xl-4 mb-4">
                    <div class="card">
                        <div class="card-header p-3 pt-2">
                            <div class="bg-gradient-warning shadow-warning border-radius-lg pt-2 pb-2 mt-n4">
                                <p class="text-s mb-0 text-white">รายการที่รอยืนยันการคืน</p>
                            </div>
                            <div class="text-center pt-3">
                                <h1 class="mb-0 text-warning">{{ orders.returned }}</h1>
                                <p class="text-md mb-0 text-capitalize">รายการ</p>
                            </div>
                        </div>
                        <hr class="dark horizontal my-0">
                        <div class="card-footer p-3">

                        </div>
                    </div>
                </div>
                
                <div class="col-xl-3 col-sm-6 mb-xl-4 mb-4">
                    <div class="card">
                        <div class="card-header p-3 pt-2">
                            <div class="bg-gradient-danger shadow-danger border-radius-lg  pt-2 pb-2 mt-n4">
                                <p class="text-s mb-0 text-white">รายการที่ยกเลิกแล้ว</p>
                            </div>
                            <div class="text-center pt-3">
                                <h1 class="mb-0 text-danger">{{ orders.canceled }}</h1>
                                <p class="text-md mb-0 text-capitalize">รายการ</p>
                            </div>
                        </div>
                        <hr class="dark horizontal my-0">
                        <div class="card-footer p-3">
                            
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-3 col-sm-6 mb-xl-4 mb-4">
                    <div class="card">
                        <div class="card-header p-3 pt-2">
                            <div class="bg-gradient-danger shadow-danger border-radius-lg pt-2 pb-2 mt-n4">
                                <p class="text-s mb-0 text-white">รายการที่ไม่อนุมัติ</p>
                            </div>
                            <div class="text-center pt-3">
                                <h1 class="mb-0 text-danger">{{ orders.disapproved }}</h1>
                                <p class="text-md mb-0 text-capitalize">รายการ</p>
                            </div>
                        </div>
                        <hr class="dark horizontal my-0">
                        <div class="card-footer p-3">

                        </div>
                    </div>
                </div>
                
                <div class="col-xl-3 col-sm-6 mb-xl-4 mb-4">
                    <div class="card">
                        <div class="card-header p-3 pt-2">
                            <div class="bg-gradient-danger shadow-danger border-radius-lg  pt-2 pb-2 mt-n4">
                                <p class="text-s mb-0 text-white">รายการที่เกินกำหนดคืน</p>
                            </div>
                            <div class="text-center pt-3">
                                <h1 class="mb-0 text-danger">{{ orders.overdued }}</h1>
                                <p class="text-md mb-0 text-capitalize">รายการ</p>
                            </div>
                        </div>
                        <hr class="dark horizontal my-0">
                        <div class="card-footer p-3">
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
</main>
{% endblock %}

{% block js %}
{{ block.super }}
    <script>
        let name_page = ""
    </script>
{% endblock %}