{% extends 'base/base.html' %}
{% block content %}
<main class="main-content position-relative max-height-vh-100 h-100">
    <div class="container-fluid py-4">
        <div class="row mt-4">
            <div class="col-lg-8 col-md-6 col-8 mt-3 mb-4 d-flex align-items-center">
                <h5>ประวัติการยืม-คืนอุปกรณ์วิทยาศาสตร์</h5>
            </div>
        </div>

        <div class="row mt-4">
            <div class="card card-body mx-2 mx-md-1 mt-n4">
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-center text-uppercase text-secondary text-s font-weight-bolder">รหัสนักศึกษา</th>
                                    <th class="text-center text-uppercase text-secondary text-s font-weight-bolder">จำนวน</th>
                                    <th class="text-center text-uppercase text-secondary text-s font-weight-bolder">วันที่ยืม</th>
                                    <th class="text-center text-uppercase text-secondary text-s font-weight-bolder">วันที่คืน</th>
                                    <th class="text-center text-uppercase text-secondary text-s font-weight-bolder">สถานะ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="align-middle text-center">
                                        <span class="text-black text-xs font-weight-bold">5980115134</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-black text-xs font-weight-bold">25</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-black text-xs font-weight-bold">09/03/2022</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-black text-xs font-weight-bold">17/03/2022</span>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="badge badge-sm bg-gradient-info">เพิ่มเติม</span>
                                        <span class="badge badge-sm bg-gradient-danger">ลบประวัติ</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="align-middle text-center">
                                        <span class="text-black text-xs font-weight-bold">5980115134</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-black text-xs font-weight-bold">25</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold">09/03/2022</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-black text-xs font-weight-bold">17/03/2022</span>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="badge badge-sm bg-gradient-info">เพิ่มเติม</span>
                                        <span class="badge badge-sm bg-gradient-danger">ลบประวัติ</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="align-middle text-center">
                                        <span class="text-black text-xs font-weight-bold">5980115134</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-black text-xs font-weight-bold">25</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-black text-xs font-weight-bold">09/03/2022</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-black text-xs font-weight-bold">17/03/2022</span>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="badge badge-sm bg-gradient-info">เพิ่มเติม</span>
                                        <span class="badge badge-sm bg-gradient-danger">ลบประวัติ</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
{% endblock %}

{% block js %}
{{ block.super }}
    <script>
        let name_page = "id_borrowing_history_page"
    </script>
{% endblock %}