{% extends 'base/base.html' %}
{% block content %}
<main class="main-content position-relative max-height-vh-100 h-100">
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-lg-12 col-md-10 col-8 d-flex align-items-center mb-3">
        
        <h5 class="mx-3">รายละเอียดการยืม-คืนอุปกรณ์วิทยาศาสตร์</h5>
        {% ifequal order.status "waiting" %}
        <span class="badge badge-sm bg-gradient-warning">รออนุมัติ</span>
        {% endifequal %}
        {% ifequal order.status "approved" %}
        <span class="badge badge-sm bg-gradient-info">อนุมัติแล้ว</span>
        {% endifequal %}
        {% ifequal order.status "canceled" %}
        <span class="badge badge-sm bg-gradient-danger">ยกเลิก</span>
        {% endifequal %}
        {% ifequal order.status "disapproved" %}
        <span class="badge badge-sm bg-gradient-danger">คำขอล้มเหลว</span>
        {% endifequal %}
        {% ifequal order.status "completed" %}
        <span class="badge badge-sm bg-gradient-success">คืนเรียบร้อยแล้ว</span>
        {% endifequal %}
        {% ifequal order.status "overdued" %}
        <span class="badge badge-sm bg-gradient-danger">เกินกำหนดคืน</span>
        {% endifequal %}
        {% ifequal order.status "returned" %}
        <span class="badge badge-sm bg-gradient-info">คืนอุปกรณ์</span>
        {% endifequal %}
      </div>
    </div>
    
    <div class="row">
      {% ifequal order.status "waiting" %}
      <span class="text-secondary text-xs mx-3 mt-n3 mb-3"> อนุมัติภายใน 24 ชั่วโมง ณ วันทำการ</span>
      {% endifequal %}
    </div>

    <div class="row mt-4">
      <div class="card card-body mx-2 mx-md-1 mt-n4">
        <div class="card-header p-3">
        <h5 class="mb-3">ข้อมูลการยืมอุปกรณ์วิทยาศาสตร์</h5>
        <div class="align-items-center col-6">
          <p class="text-s text-start mb-0">
            ผู้ยืมอุปกรณ์ : {{ order.user.firstname }} {{ order.user.lastname }}
          </p>
          <p class="text-s text-start mb-0">
            ผู้อนุมัติ : {{ order.approver.firstname }} {{ order.approver.lastname }}
          </p>
          <p class="text-s text-start mb-0">
            วันที่ยืม : {% load tz %}{{ order.dateBorrowing|timezone:'Asia/Bangkok'|date:"d/m/Y เวลา H:m น." }}
          </p>
          <p class="text-s text-start mb-0">
            วันที่อนุมัติ : {% load tz %}{{ order.dateApproved|timezone:'Asia/Bangkok'|date:"d/m/Y เวลา H:m น." }}
          </p>
          <p class="text-s text-start mb-0">
            วันที่คืนอุปกรณ์ : {% load tz %}{{ order.dateReturn|timezone:'Asia/Bangkok'|date:"d/m/Y เวลา H:m น." }}
          </p>
        </div>
            
        <div class="align-items-start col-12">
          {% if user.account.status == "admin" %}
            {% if status == "waiting" %}
            <form class="align-items-start text-start mx-2 d-inline-block" id="confirm-equipment" method="post" action="{% url 'approvedBorringApi' %}">
              {% csrf_token %}
              <input type="hidden" value="{{ order.id }}" name="orderID" />
              <button class="btn bg-gradient-success" type="submit">อนุมัติ</button>
            </form>
            <form class="align-items-start text-start mx-2 d-inline" id="confirm-equipment" method="post" action="{% url 'disapprovedBorringApi' %}">
              {% csrf_token %}
              <input type="hidden" value="{{ order.id }}" name="orderID" />
              <button class="btn bg-gradient-danger" type="submit">ไม่อนุมัติ</button>
            </form>
            {% elif status == "returned" %}
            <form class="align-items-start text-start mx-2 d-inline-block" id="confirm-equipment" method="post" action="{% url 'confirmreturnApi' %}">
              {% csrf_token %}
              <input type="hidden" value="{{ order.id }}" name="orderID" />
              <button class="btn bg-gradient-success" type="submit">ยืนยันการคืนอุปกรณ์</button>
            </form>
            {% endif %}
          {% elif user.account.status == "user" %}
            {% if status == "waiting" %}
            <form class="align-items-start text-start mx-2 d-inline-block" id="confirm-equipment" method="post" action="{% url 'cancelBorringApi' %}">
              {% csrf_token %}
              <input type="hidden" value="{{ order.id }}" name="orderID" />
              <button class="btn bg-gradient-danger" type="submit">ยกเลิก</button>
            </form>
            {% else %}
            <form class="align-items-start text-start mx-2 d-inline-block" id="confirm-equipment" method="post" action="{% url 'returningApi' %}">
              {% csrf_token %}
              <input type="hidden" value="{{ order.id }}" name="orderID" />
              <button class="btn bg-gradient-danger" type="submit">คืนอุปกรณ์</button>
            </form>
            {% endif %}
          {% endif %}
        </div>
      </div>
        <div class="card-body px-0 pb-2">
          <div class="table-responsive p-0">
            {% if order %}
            <h6 class="mb-3 text-center">รายการอุปกรณ์วิทยาศาสตร์</h6>
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-center text-uppercase text-black text-s font-weight-bolder">รูปภาพ</th>
                  <th class="text-center text-uppercase text-black text-s font-weight-bolder">รายการ</th>
                  <th class="text-center text-uppercase text-black text-s font-weight-bolder">ขนาด</th>
                  <th class="text-center text-uppercase text-black text-s font-weight-bolder">จำนวน</th>
                </tr>
              </thead>
              <tbody>
                {% for equipment in order.equipment.all %}
                  <tr>
                    <td class="align-middle text-center col-md-2">
                      <div class="chart">
                        {% if equipment.equipment.image %}
                        <img src="{{ equipment.equipment.image }}" class="image-equipments img-fluid shadow border-radius-xl" />
                        {% else %}
                        <img src="{{ STATIC_URL }}/images/equipment/PlaceHolder.png" class="image-equipments border-radius-xl" />
                        {% endif %}
                      </div>
                    </td>
                    <td class="align-middle text-center">
                      <span class="text-secondary text-s">{{ equipment.equipment.name }}</span>
                    </td>
                    <td class="align-middle text-center">                                        
                      <span class="text-secondary text-s">
                      {{ equipment.equipment.size }} 
                      {% ifequal equipment.equipment.unit "NotSpecified" %}{% endifequal %}
                      {% ifequal equipment.equipment.unit "Celsius" %}&#8451;{% endifequal %}
                      {% ifequal equipment.equipment.unit "CubicCentimeter" %}cm³{% endifequal %}
                      {% ifequal equipment.equipment.unit "Millimeter" %}mm{% endifequal %}
                      {% ifequal equipment.equipment.unit "Milliliter" %}mL{% endifequal %}
                      {% ifequal equipment.equipment.unit "Centimeter" %}cm{% endifequal %}
                      {% ifequal equipment.equipment.unit "Liter" %}L{% endifequal %}
                    </span>
                    </td>
                    <td class="align-middle text-center">
                      <span class="text-secondary text-s">{{ equipment.quantity }}</span>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            {% else %}
            <div class="text-center mt-5 mb-5">
              <span class="text-secondary text-2xl d-block mb-3">ไม่มีแจ้งเตือนการยืม-คืนอุปกรณ์วิทยาศาสตร์</span>
              <a href="{% url 'information-equipment' %}">
                <button class="btn bg-gradient-info" type="submit">ข้อมูลการยืม-คืนอุปกรณ์วิทยาศาสตร์</button>
              </a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block js %}
{{ block.super }}
    <script>
        let name_page = ""
    </script>
{% endblock %}