{% extends 'base/base.html' %}
{% block content %}
<main class="main-content position-relative max-height-vh-100 h-100">
    <div class="container-fluid py-4">
        <div class="row mt-4">
            <div class="card card-body mx-2 mx-md-1 mt-n4">
                <div class="card-header">
                    <h5>แจ้งเตือนการยืม-คืนอุปกรณ์เคมี</h5>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block js %}
{{ block.super }}
    <script>
        let name_page = "id_notification_page"
    </script>
{% endblock %}