<!-- Modal -->
<div class="modal fade" id="modalScientificDetail" tabindex="-1" role="dialog" aria-labelledby="modalScientificDetail" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100" id="exampleModalLabel">รายละเอียด</h5>
                <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="py-3 pe-1 me-10 ms-10 ms-sm-1 me-sm-1">
                    <div class="chart-scientificInstruments center-items">
                        <img  id="imageDisplay" src="{{ scientificInstrument.image }}" class="image-scientificInstruments border-radius-xl w-50" />
                    </div>
                </div>
                <input type="hidden" value="{{ scientificInstrument.id }}" name="scientificInstrument" />
                <div class="input-group input-group-static mb-4 is-filled">
                    <label class="text-bold text-black w-100">ชื่อเครื่องมือ</label>
                    <label class="text-md text-bold text-black-50 ms-3" id="id_name"></label>
                </div>
                <div class="input-group input-group-static mb-4 is-filled">
                    <label class="text-bold text-black w-100">รหัสประจำเครื่อง</label>
                    <label class="text-md text-bold text-black-50 ms-3" id="id_number"></label>
                </div>
                <div class="input-group input-group-static mb-4 is-filled">
                    <label class="text-bold text-black w-100">สถานที่</label>
                    <label class="text-md text-bold text-black-50 ms-3" id="id_place"></label>
                </div>
                <div class="input-group input-group-static mb-4 is-filled">
                    <label class="text-bold text-black w-100">รายละเอียด</label>
                    <label class="text-md text-bold text-black-50 ms-3" id="id_detail"></label>
                </div>
                <div class="input-group input-group-static mb-4 is-filled">
                    <label class="text-bold text-black w-100">หมายเหตุ</label>
                    <label class="text-md text-bold text-black-50 ms-3" id="id_annotation"></label>
                </div>
            </div>
        </div>
    </div>
</div>