<!-- Modal -->
<div class="modal fade" id="modalScientificBooking" tabindex="-1" role="dialog" aria-labelledby="modalScientificBooking" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100" id="exampleModalLabel">จองเครื่องมือ</h5>
                <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="formBookingScientificInstrument" method="post" action="{% url 'BookingScientificInstrumentApi' %}">
                {% csrf_token %}
                <div class="modal-body mt-3 mb-3 ms-5 me-5">
                    <div class="py-3 pe-1 me-10 ms-10 ms-sm-1 me-sm-1">
                        <div class="chart-scientificInstruments center-items">
                            <img id="image_scientificInstruments" class="image-scientificInstruments img-fluid border-radius-xl w-50" />
                        </div>
                    </div>
                    <input type="hidden" id="id_pk_scientificInstruments" name="scientificInstrument" />
                    <div class="input-group input-group-static mb-4 is-filled">
                        <label class="text-bold text-black w-100">ชื่อเครื่องมือ</label>
                        <label class="text-md text-bold text-black-50 ms-3" id="id_name_scientificInstruments"></label>
                    </div>
                    <div class="input-group input-group-static mb-4 is-filled">
                        <label class="text-bold text-black w-100">รหัสประจำเครื่อง</label>
                        <label class="text-md text-bold text-black-50 ms-3" id="id_number_scientificInstruments"></label>
                    </div>
                    <div class="input-group input-group-static mb-4 is-filled">
                        <label class="text-bold text-black w-100">ชื่อผู้จอง</label>
                        <label class="text-md text-bold text-black-50 ms-3" id="id_place">{{ user.account.firstname }} {{ user.account.lastname }}</label>
                    </div>
                    <div class="input-group input-group-static mb-4 is-filled">
                        <label class="text-bold text-black w-100">รหัสผู้ใช้งาน</label>
                        <label class="text-md text-bold text-black-50 ms-3" id="id_detail">{{ user.account.studentID }}</label>
                    </div>
                    <div class="input-group input-group-static mb-4 is-filled">
                        <label class="text-bold text-black w-100">วันที่จอง</label>
                        <div class="input-group input-group-outline mb-3">
                            <input type="date" id="id_dateBooking" name="dateBooking" placeholder="dd-mm-yyyy" value="" min="2023-02-20" max="2030-12-31" required>
                        </div>
                        <label class="text-danger w-100" id="dateError"></label>
                    </div>
                    <div class="input-group input-group-static mb-4 is-filled">
                        <label class="text-bold text-black w-100">เวลา</label>
                        <div class="input-group input-group-outline mb-3">
                            <select class="form-select" id="id_timeStart" name="timeBooking"  onchange="checkTimeSelect()" required>
                                <option value="">-------- เวลาที่จอง --------</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" id="confirmBooking" class="btn bg-gradient-primary w-100" disabled>ยืนยันการจอง</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>