{% extends 'base/base.html' %}
{% block content %}
<main class="main-content position-relative max-height-vh-100 h-100">
    <div class="container-fluid py-4">

        <div class="row">
            <div class="col-lg-8 col-md-6 col-8 d-flex align-items-center">
                <h5>จัดการข้อมูลผู้ใช้บริการระบบยืม - คืนอุปกรณ์วิทยาศาสตร์</h5>
            </div>
        </div>

        {% if user.account.status == "admin" %}
        <div class="row justify-content-center mt-7">

            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4 me-3">
                <div class="card mx-2">
                    <div class="card-header mt-5 mb-2">
                        <img src="{{ STATIC_URL }}/images/add-user.png" />
                    </div>
                    <div class="card-footer mt-3">
                        <a href="{% url 'registerpage' %}">
                            <div class="bg-gradient-success shadow-success text-center border-radius-xl w-85 my-n2 py-sm-3 position-absolute">
                                <span class="text-white">เพิ่มข้อมูลผู้ใช้งาน</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4 ms-3">
                <div class="card mx-2">
                    <div class="card-header mt-5 mb-2">
                        <img src="{{ STATIC_URL }}/images/edit-user.png" />
                    </div>
                    <div class="card-footer mt-3">
                        <a href="{% url 'managepage' %}">
                            <div class="bg-gradient-warning shadow-warning text-center border-radius-xl w-85 my-n2 py-sm-3 position-absolute">
                                <span class="text-white">จัดการข้อมูลผู้ใช้งาน</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-lg-12 col-md-12 mt-3 mb-4">
            <div class="card-body mb-n3 text-center">
              <p>กรุณาเข้าสู่ระบบโดย Admin เท่านั้น</p>
            </div>
        </div>
        {% endif %}
    </div>
</main>
{% endblock %}