{% extends 'base/base.html' %}
{% load humanReadable %}
{% block content %}
{% include 'base/navside.html' %}
<main class="main-content position-relative max-height-vh-100 h-100">
  {% include "base/navbar.html" %}
  <div class="container-fluid py-4 ">
    <div class="row">
      {% if results %}
      <div class="card card-body mx-3 px-4 pt-4">
        {% include "pages/topListPage.html" %}
        <div class="row">
          {% for result in results %}
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 mt-3 mb-2">
            <div class="card border border-info shadow-info">
              <div class="card-header p-0 position-relative mt-n4 mx-3 bg-transparent">
                <div class="mt-5">
                  <h5 class="truncate mt-1">
                    {{ result.name }}
                    <span class="tooltiptext text-center">{{ result.name }}</span>
                  </h5>
                  <span class="mb-1 text-sm-center fs-xl">รหัส : {{ result.number }}</span>
                  <div class="chart-items mt-1 mb-3">
                    {% if result.image %}
                      <img src="{{ result.image }}" onerror="this.onerror=null; this.src='{{ STATIC_URL }}images/scientificInstrument/PlaceHolder.png' ;"
                      class="image-scientificInstruments border-radius-xl" />
                    {% else %}
                      <img src="{{ STATIC_URL }}images/scientificInstrument/PlaceHolder.png" 
                      class="image-scientificInstruments border-radius-xl" />
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="card-body mb-n3 text-center">
                  {% if user.account.status == "admin" %}
                  <div class="row">
                    <div class="col-12 col-md-12 col-xl-6 col-lg-6">
                      <form id="add-scientificInstrument" method="post" action="edit">
                        {% csrf_token %}
                        <input type="hidden" value="{{ result.id }}" name="id" />
                        <button class="btn bg-gradient-warning w-100 px-0" type="submit">แก้ไขข้อมูล</button>
                      </form>
                    </div>
                    <div class="col-12 col-md-12 col-xl-6 col-lg-6">
                        <button class="btn bg-gradient-danger w-100 px-0" data-bs-toggle="modal" data-bs-target="#modalDelete" onclick="showConfirmDelete({{ result.id }})">ลบข้อมูล</button>
                    </div>
                  </div>
                  {% else %}
                  <div class="row">
                    <div class="col-12 col-md-12 col-xl-6 col-lg-6">
                        <input type="hidden" value="{{ result.id }}" name="ScientificInstrumentID" />
                        <button class="btn bg-gradient-info w-100 px-0" onclick="showBooking({{ result.id }})" data-bs-toggle="modal" data-bs-target="#modalScientificBooking">จอง</button>
                    </div>
                    <div class="col-12 col-md-12 col-xl-6 col-lg-6">
                      <button id="scientificInstrumentDetail" class="btn bg-gradient-warning w-100 px-0" onclick="showDetail({{ result.id }})" data-bs-toggle="modal" data-bs-target="#modalScientificDetail">รายละเอียด</button>
                    </div>
                  </div>
                  {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% else %}
      {% include 'pages/notFoundListData.html' %}
      {% endif %}
    </div>
  </div>
  {% if user.account.status == "admin" %}
  {% include 'modals/confirmDeleteData.html' %}
  {% include "modals/loading.html" %}
  {% include 'modals/deleteSuccess.html' %}
  {% else %}
  {% include 'pages/scientificInstruments/popUpScientificDetail.html' %}
  {% include 'pages/scientificInstruments/popUpScientificBooking.html' %}
  {% endif %}
</main>
{% endblock %}

{% block js %}
{{ block.super }}
  <script>
    let urlPlaceHolder = "{{ STATIC_URL }}images/scientificInstrument/PlaceHolder.png"
    let urlGetTimeStartCanBooking = "{% url 'GetTimeStartCanBooking' %}"
    let urlGetTimeEndCanBooking = "{% url 'GetTimeEndCanBooking' %}"
    const resultsJson = JSON.parse('{{ resultsJson | safe }}')
  </script>
  
  {% if user.account.status == "admin" %}
  <script>
    const deleteUrl = '{{ deleteUrl }}'
    const urlExportData = "{% url 'ExportScientificInstruments' %}"
    const nameFileExport = "scientificInstrumentAllData.xlsx"
  </script>
  <script src="{{ STATIC_URL }}js/exportDataAll.js"></script>
  <script src="{{ STATIC_URL }}js/deleteData.js"></script>
  {% else %}
  <script src="{{ STATIC_URL }}js/scientificBooking.js"></script>
  <script src="{{ STATIC_URL }}js/scientificDetail.js"></script>
  {% endif %}
{% endblock %}