{% load humanReadable %}
<div class="table-responsive">
    <table class="table text-black align-items-center mb-0">
        <thead class="bg-gray-200">
            <tr>
                <th class="text-center text-uppercase text-black text-s font-weight-bolder w-20">รายการ{{ nameCategory }}</th>
                <th class="text-center text-uppercase text-black text-s font-weight-bolder w-20">ขนาด</th>
                <th class="text-center text-uppercase text-black text-s font-weight-bolder w-20">จำนวนครั้ง</th>
                <th class="text-center text-uppercase text-black text-s font-weight-bolder w-40">สถานะ</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items.list %}
            <tr>
                <td class="align-middle text-center">
                    {{ item.name }}
                </td>
                <td class="align-middle text-center">
                    {{ item.size }} {{ item.unit|Unit }}
                </td>
                <td class="align-middle text-center">
                    {{ item.statistics }}
                </td>
                <td class="align-middle text-center">
                    <a href="" onclick="downloadDataUses(event, {{ item.id }}, '{{ item.name }}')" class="text-sm text-info text-end text-decoration-underline w-50">ดาวน์โหลดข้อมูล</a>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td class="align-middle text-center"></td>
            </tr>
        </tbody>
    </table>
</div>