<div class="row mt-5">
    <div class="col-lg-8 col-md-6 col-8 d-flex align-items-center mb-3">
        <h5>แจ้งเตือนการจองเครื่องมือวิทยาศาสตร์</h5>
    </div>
    {% if user.account.status == "user" %}
    <div class="col-lg-2 col-md-4 col-12 text-end">
        <a href="{% url 'scientific-instruments-list' %}">
          <button class="btn bg-gradient-warning w-100 mb-0 toast-btn" type="button" data-target="warningToast">จองเครื่องมือ</button>
        </a>
    </div>
    {% endif %}
</div>

<div class="row mt-4">
    <div class="card card-body mx-2 mx-md-1 mt-n4">
        <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
                {% if bookings %}
                <table class="table align-items-center mb-0">
                    <thead>
                        <tr>
                            <th class="text-center text-uppercase text-black text-s font-weight-bolder">รหัสนักศึกษา</th>
                            <th class="text-center text-uppercase text-black text-s font-weight-bolder">เครื่องมือ</th>
                            <th class="text-center text-uppercase text-black text-s font-weight-bolder">วันที่จอง</th>
                            <th class="text-center text-uppercase text-black text-s font-weight-bolder">วันที่ใช้งาน</th>
                            <th class="text-center text-uppercase text-black text-s font-weight-bolder">เวลาใช้งาน</th>
                            <th class="text-center text-uppercase text-black text-s font-weight-bolder">วันที่อนุมัติ</th>
                            <th class="text-center text-uppercase text-black text-s font-weight-bolder">สถานะ</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for booking in bookings %}
                        <tr>
                            <td class="align-middle text-center">
                                <span class="text-secondary text-s">{{ booking.user.studentID }}</span>
                            </td>
                            <td class="align-middle text-center">
                                <span class="text-secondary text-s">{{ booking.scientificInstrument.name }}</span>
                            </td>
                            <td class="align-middle text-center">
                                {% if booking.createAt %}
                                    <span class="text-secondary text-s">{{ booking.createAt|date:"d/m/Y" }}</span>
                                {% else %}
                                    <span class="text-secondary text-s">-</span>
                                {% endif %}
                            </td>
                            <td class="align-middle text-center">
                                {% if booking.dateBooking %}
                                    <span class="text-secondary text-s">{{ booking.dateBooking|date:"d/m/Y" }}</span>
                                {% else %}
                                    <span class="text-secondary text-s">-</span>
                                {% endif %}
                            </td>
                            <td class="align-middle text-center">
                                {% if booking.startBooking and booking.endBooking %}
                                    <span class="text-secondary text-s">{% load tz %}{{ booking.startBooking }} - {{ booking.endBooking }}</span>
                                {% else %}
                                    <span class="text-secondary text-s">-</span>
                                {% endif %}
                            </td>
                            <td class="align-middle text-center">
                                {% if booking.dateApproved %}
                                    <span class="text-secondary text-s">{% load tz %}{{ booking.dateApproved|timezone:'Asia/Bangkok'|date:"d/m/Y" }}</span>
                                {% else %}
                                    <span class="text-secondary text-s">-</span>
                                {% endif %}
                            </td>
                            <td class="align-middle text-center text-sm">
                                <form id="confirm-scientificInstrument" method="post" action="{% url 'scientificInstrument-detail' %}">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ booking.id }}" name="bookingID" />
                                    <input type="hidden" value="{{ booking.status }}" name="StatusBooking" />
                                    {% ifequal booking.status "waiting" %}
                                    <button class="btn badge badge-sm bg-gradient-warning w-75" type="submit">รออนุมัติ</button>
                                    {% endifequal %}
                                    {% ifequal booking.status "approved" %}
                                    <button class="btn badge badge-sm bg-gradient-success w-75" type="submit">อนุมัติแล้ว</button>
                                    {% endifequal %}
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <div class="text-center mt-5 mb-5">
                        <span class="text-secondary text-2xl d-block mb-3">ไม่มีแจ้งเตือนการจองเครื่องมือวิทยาศาสตร์</span>
                        <a href="{% url 'information-scientificInstrument' %}">
                            <button class="btn bg-gradient-info" type="submit">ข้อมูลการจองเครื่องมือวิทยาศาสตร์</button>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>