<div class="modal" id="deleteSuccessModal" aria-hidden="true" aria-labelledby="deleteSuccessModalLabel" tabindex="-1" data-bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="{{ STATIC_URL }}images/delete.png" class="imageModal" />
                <span class="text-dark d-block mt-2 w-100" id="successTitle">ลบรายการสำเร็จ</span>
            </div>
        </div>
    </div>
</div>