{% extends 'base/base.html' %}
{% block content %}
{% include 'base/navside.html' %}
<main class="main-content position-relative max-height-vh-100 h-100">
    {% include "base/navbar.html" %}
    <div class="container-fluid py-4 ">
        <div class="card card-body mx-3 mx-md-4 mt-3">
            <div class="row">
                <div class="card card-plain h-100">
                    <div class="card-header pb-0 p-3">
                        <div class="row">
                            <div class="col-md-8 d-flex align-items-center">
                                <h5>ติดต่อผู้ให้บริการ</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-3">
                        <span class="text-s"> ศูนย์วิทยาศาสตร์ มหาวิทยาลัยราชภัฏนครราชสีมา</span></br>
                        <span class="text-s"> 340 ถ.สุรนารายณ์ ตำบลในเมือง อำเภอเมืองนครราชสีมา จังหวัดนครราชสีมา 30000</span></br>
                        <span class="text-s"> เบอร์โทร. 044-009-009 ต่อ 2432 ต่อ 2432</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-body mx-3 mx-md-4 mt-2">
            <div class="row">
                <div class="card card-plain h-100">
                    <div class="card-header pb-0 p-3">
                    </div>
                    <div class="card-body p-3 mt-3">
                        <span class="text-s">Link >>> </span><a href="{{ dataWeb.fileUserManual }}" class="text-s text-success">คู่มือการใช้งาน</a></br>
                        <span class="text-s">Link >>> </span><a href="{{ dataWeb.linkAssessmentForm }}" class="text-s text-success">แบบประเมินความพึงพอใจ</a></br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block js %}
{{ block.super }}
    <script>
        let name_page = "id_contact_us_page"
    </script>
{% endblock %}