<!-- Modal -->
<div class="modal fade" id="modalEquipmentDelete" tabindex="-1" role="dialog" aria-labelledby="modalEquipmentDelete" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content pb-4 ps-4 pe-4">
            <form id="formDeleteEquipment" method="post" action="{% url 'removeEquipmentApi' %}">
                {% csrf_token %}
                <input type="hidden" id="equipmentDelete" name="equipment">
                <div class="modal-body text-center">
                    <img src="{{ STATIC_URL }}images/delete.png" class="navbar-brand-img w-15 mb-3" alt="main_logo">
                    <span class="d-block">ยืนยันการลบ</span>
                    <span id="nameDelete" class="fs-6 text-bold text-black d-block"></span>
                </div>
                <div class="row">
                    <div class="col-6">
                        <button id="dismissModalEquipmentDelete" type="button" class="btn btn-outline-dark w-100" data-dismiss="modal">ยกเลิก</button>
                    </div>
                    <div class="col-6">
                        <button type="submit" id="confirmDeleteNumber" class="btn bg-gradient-danger w-100">ตกลง</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>