<!-- Modal -->
<div class="modal fade" id="modalBookingDetail" tabindex="-1" role="dialog" aria-labelledby="modalBookingDetail" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100" id="exampleModalLabel">รายละเอียดการจอง</h5>
                <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="py-3 pe-1 me-10 ms-10 ms-sm-1 me-sm-1">
                    <div class="chart-scientificInstruments center-items">
                        <img id="imageDisplay" src="" class="image-scientificInstruments border-radius-xl" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 right">
                        <label class="text-bold text-black me-5">รายการ</label>
                    </div>
                    <div class="col-6">
                        <label class="text-md text-bold text-black-50" id="nameScientificInstrument"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 right">
                        <label class="text-bold text-black me-5">หมายเลขเครื่อง</label>
                    </div>
                    <div class="col-6">
                        <label class="text-md text-bold text-black-50" id="numberScientificInstrument"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 right">
                        <label class="text-bold text-black me-5">ชื่อผู้จอง</label>
                    </div>
                    <div class="col-6">
                        <label class="text-md text-bold text-black-50" id="usernameBooking"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 right">
                        <label class="text-bold text-black me-5">รหัสผู้ใช้งาน</label>
                    </div>
                    <div class="col-6">
                        <label class="text-md text-bold text-black-50" id="userIdBooking"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 right">
                        <label class="text-bold text-black me-5">ห้อง</label>
                    </div>
                    <div class="col-6">
                        <label class="text-md text-bold text-black-50" id="placeScientificInstrument"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 right">
                        <label class="text-bold text-black me-5">วันที่จอง</label>
                    </div>
                    <div class="col-6">
                        <label class="text-md text-bold text-black-50" id="datetimeBooking"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 right">
                        <label class="text-bold text-black me-5">จองเมื่อ</label>
                    </div>
                    <div class="col-6">
                        <label class="text-md text-bold text-black-50" id="createAtBooking"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 right">
                        <label class="text-bold text-black me-5">สถานะ</label>
                    </div>
                    <div class="col-6">
                        <label class="text-md text-bold text-black-50" id="statusBooking"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>