{% extends 'base/base.html' %}
{% block content %}
{% include 'base/navside.html' %}
<main class="main-content position-relative max-height-vh-100 h-100">
    {% include "base/navbar.html" %}
    <div class="container-fluid py-4 ">

        <div class="row">
            <div class="text-center mt-5">
                <h5 class="w-100">เลือกการใช้งาน</h5>
            </div>
        </div>

        {% if user.account.status == "admin" %}
        <div class="row justify-content-center mt-5">

            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-5 mx-3">
                <div class="card">
                    <div class="card-header">
                        <img src="{{ STATIC_URL }}/images/add-user.png" />
                    </div>
                    <div class="card-footer mt-3">
                        <a href="{% url 'registerPage' %}">
                            <div class="bg-gradient-info shadow-info text-center border-radius-xl w-85 my-n2 py-3 position-absolute">
                                <span class="text-white">เพิ่มข้อมูลผู้ใช้งาน</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-5 mx-3">
                <div class="card">
                    <div class="card-header">
                        <img src="{{ STATIC_URL }}/images/edit-user.png" />
                    </div>
                    <div class="card-footer mt-3">
                        <a href="{% url 'userListPage' %}">
                            <div class="bg-gradient-warning shadow-warning text-center border-radius-xl w-85 my-n2 py-3 position-absolute">
                                <span class="text-white">จัดการข้อมูลผู้ใช้งาน</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-lg-12 col-md-12 mt-3 mb-4">
            <div class="card-body mb-n3 text-center">
              <p>กรุณาเข้าสู่ระบบโดย Admin เท่านั้น</p>
            </div>
        </div>
        {% endif %}
    </div>
</main>
{% endblock %}