<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 bg-sidebar">
  <div class="sidenav-header">
    <a class="m-2" href="https://nrru.ac.th/" target="_blank">
      <img src="{{ STATIC_URL }}images/title-menu.png" alt="main_logo">
    </a>
  </div>
  <hr class="horizontal light mt-0 mb-2">
  <div class="w-auto max-height-vh-100">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a id="id_home_page" name="id_home_page" class="nav-link text-white" href="{% url 'homepage' %}">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">home</i>
          </div>
          <span class="nav-link-text ms-1">หน้าแรก</span>
        </a>
      </li>
      <li class="nav-item">
        <a id="id_notification_page" name="id_notification_page" class="nav-link text-white" href="{% url 'notificationBookingPage' %}">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">notifications</i>
          </div>
          <span class="nav-link-text ms-1">แจ้งเตือนการจองเครื่องมือ</span>
        </a>
      </li>
      <li class="nav-item">
        <a id="id_borrowing_information_page" name="id_borrowing_information_page" class="nav-link text-white" href="{% url 'informationBookingPage' %}">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">article</i>
          </div>
          <span class="nav-link-text ms-1">ข้อมูลการจองเครื่องมือ</span>
        </a>
      </li>
      <li class="nav-item">
        <a id="id_equipment_list_page" name="id_equipment_list_page" class="nav-link text-white" href="{% url 'scientificInstrumentsListPage' %}">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">ballot</i>
          </div>
          <span class="nav-link-text ms-1">รายการเครื่องมือวิทยาศาสตร์</span>
        </a>
      </li>
      <li class="nav-item">
        <a id="id_equipment_list_page" name="id_equipment_list_page" class="nav-link text-white" href="{% url 'scientificInstrumentsCalendarPage' %}">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">event_available</i>
          </div>
          <span class="nav-link-text ms-1">ปฏิทินการจอง</span>
        </a>
      </li>
      <li class="nav-item">
        <a id="id_contact_us_page" name="id_contact_us_page" class="nav-link text-white" href="{% url 'contactPage' %}">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">perm_contact_calendar</i>
          </div>
          <span class="nav-link-text ms-1">ติดต่อผู้ให้บริการ</span>
        </a>
      </li>
      <li class="nav-item">
        <a id="id_logout_page" class="nav-link text-white" href="{% url 'logoutApi' %}">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">logout</i>
          </div>
          <span class="nav-link-text ms-1">ออกจากระบบ</span>
        </a>
      </li>
    </ul>
  </div>
</aside>