<div class="modal fade" id="loadingModal" aria-hidden="true" aria-labelledby="loadingModalLabel" tabindex="-1" data-bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-6">
            <div class="modal-body">
                <div class="spinner">
                    <svg viewBox="25 25 50 50">
                        <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
                        <span class="text-dark d-block mt-2">กำลังบันทึกข้อมูล ...</span>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>