<div class="modal fade" id="successModal" aria-hidden="true" aria-labelledby="successModalLabel" tabindex="-1" data-bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content py-3 mx-6">
            <div class="modal-body text-center">
                <img src="{{ STATIC_URL }}images/complete.png" class="imageModal" />
                <span class="text-dark d-block mt-2 w-100" id="successTitle">บันทึกข้อมูลเรียบร้อย</span>
            </div>
        </div>
    </div>
</div>